@CHARSET "ISO-8859-1";
ul.ratings
{
	border:0px;
	padding:0;
	margin:0;
	clear:both;
}
ul.ratings li
{
	width:28px;
	height:28px;
	float:left;
	list-style:none;
	cursor:pointer;
}
ul.ratings li.star_vote
{
	background:url('../image/crystal-stars.png') no-repeat scroll 0 -83px transparent;	
}
ul.ratings li.star_novote
{
	background:url('../image/crystal-stars.png') no-repeat scroll 0 -55px transparent;	
}
ul.ratings li.star_hover
{
	background:url('../image/crystal-stars.png') no-repeat scroll 0 -111px transparent;
}