/*** RESET ***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, select {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
table, td, th {
	vertical-align: middle;
}
a img {border: none;}
:focus {outline: 0;}












/* 
   GENERAL 
------------------------------------------------------------------- */
html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}

body {
	background: #FFF;
	color: black;
	font: normal 75% Arial, Tahoma, Helvetica, sans-serif;
	line-height: 1.5;
}











/* 
   TYPING 
------------------------------------------------------------------- */
/* Headings */
h1,h2,h3,h4,h5,h6 {
	color: #444;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 0.3em;
}
h4,h5,h6 {font-weight: bold;}
h1 {font-size: 2.6em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em; color:white;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin: 0;}

/* Links */
a {
	color: #000000;
	text-decoration: none;
	cursor:pointer;
}
a:focus,a:hover {color: #039; text-decoration: underline; cursor:pointer;}

a.ben-other {
	color: #999;
}
a.ben-other:hover {}


/* Paragraph */
p {margin-bottom: 0.5em;}

object { vertical-align:top; outline:none;border:0}










/* 
   COMMON TYPING CLASS 
------------------------------------------------------------------- */
.ben-text-left {text-align: left;}
.ben-text-right {text-align: right;}
.ben-text-center {text-align: center;}
.ben-text-separator {padding: 0 5px;}

.ben-small {font-size: 0.9em;}
.ben-smaller {font-size: 0.8em;}
.ben-smallest {font-size: 0.7em;}

.ben-large {font-size: 1.15em;}
.ben-larger {font-size: 1.25em;}
.ben-largest {font-size: 1.35em;}

.ben-hidden {display: none;}

.ben-other, .ben-other a {color: #999;}

.ben-error, .error, .ben-notice, .ben-success{
	border: 1px solid #DDD;
	margin-bottom: 1em;
	padding: 0.6em 0.8em;
}

.ben-error, .error {background: #FBE3E4; color: #8A1F11; border-color: #FBC2C4;}
.ben-error a, .error a {color: #8A1F11;}

.ben-notice {background: #FFF6BF; color: #514721; border-color: #FFD324;}
.ben-notice a {color: #514721;}

.ben-success {background: #E6EFC2; color: #264409; border-color: #C6D880;}
.ben-success a {color: #264409;}










/* 
   COMMON ALIGNMENT CLASS 
------------------------------------------------------------------- */
/* General */
.ben-center,.ben-aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Floats */   
.ben-left, .left, .ben-alignleft {float: left;}
.ben-right, .right, .ben-alignright {float: right;}
.ben-center{margin:0 auto}
.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
}

/* Images */
img.ben-bordered,img.ben-alignleft,img.ben-alignright,img.ben-aligncenter {
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}
img.ben-alignleft, img.ben-left {margin: 0 10px 10px 0;}
img.ben-alignright, img.ben-right {margin: 0 0 1em 1.5em;}


/* 
   Separators 
------------------------------------------------------------------- */
.ben-content-separator, .ben-item-separator, .ben-hline {
	background: #E5E5E5;
	clear: both;
	color: #FFE;
	display: block;
	font-size: 0;
	line-height: 0;
	height: 1px;	
}
.ben-content-separator {margin: 32px 0;}
.ben-item-separator {margin-bottom: 15px;}
.ben-hline {margin-bottom: 5px;}







/* 
   LIST - TABLE
------------------------------------------------------------------- */
/* Default Lists */
li ul, li ol {margin-left: 1.5em;}
ul, ol {/*margin: 0 0 1.5em 1.5em;*/}
ul {list-style-type: disc;}
ol {
	list-style-type: decimal;
	margin-left: 1.9em;
}

dl {margin: 0 0 1.5em 0;}
dl dt {font-weight: bold;}
dd {margin-left: 1.5em;}


/* Special lists */
ul.ben-blank-list li, ul.ben-list li, ul.ben-tab-list li {
	list-style: none;
	margin-top: 0;
}


ul.ben-blank-list {margin: 0;} /* DANH SACH KHONG CO CSS */

ul.ben-list {margin-left: 0;} /* DANH SACH DANG VERTICAL */
ul.ben-list li {
	border-top: 1px solid #EEE;
	list-style: none;
	padding: 4px 0;
}
ul.ben-list li:first-child {border-top: none;}
ul.ben-list li .ben-right {color: #999;}

/* DANH SACH HORIZONTAL */
ul.ben-tab-list {
	display: inline;
	margin: 0;
} 
ul.ben-tab-list li {float: left;}


/* Navigation */
.ben-navigation a {
	color: #888;
	text-decoration: none;
}
.ben-navigation a:hover {color: #002;}
.ben-navigation li.current-tab a {color: #222;}



/* Tables */
table {margin-bottom: 0em; width: 100%;}
th {font-weight: bold;}
thead th {text-align:center}
th,td,caption {/*padding: 4px 10px 4px 5px;*/}
tr.even td {background: #F2F6FA;}
tfoot {font-style:normal}
caption {background: #EEE;}

table.ben-table {
	border: 1px solid #CCB;
	margin-bottom: 2em;
	width: 100%;
}
table.ben-table th {
	background: #F0F0F0;
	border: 1px solid #DDD;
	color: #555;
	text-align: center;
}
table.ben-table tr {border-bottom: 1px solid #DDD;}
table.ben-table td, table th {text-align:center}
table.ben-table td {
	background: #F6F6F6;
	border: 1px solid #DDD;
	padding:2px;
}
table.ben-table tr.even td {background: #FCFCFC;}

table.ben-form td{padding:2px;}
table.ben-form tr{vertical-align:middle}












/* 
   FORM
------------------------------------------------------------------- */
.label {
	cursor: pointer;
	font-weight: bold;
	border-left-style: solid;
	border-left-width: 4px;
	margin-bottom: 0.2em;
	padding-left: 10px;
}
label.checkbox, label.radio {font-weight: normal;}

legend {
	font-weight: bold;
	font-size: 1.2em;
}
textarea {overflow: auto;}

input.ben-textbox, textarea, select {
	background: #FCFCFC;
	border: 1px inset #AAA;
	margin: 0.2em 0;
	padding: 4px 5px;
}

textarea
{
	width:230px;
	height:120px;
}
select{
	
}

input.ben-textbox:focus, textarea:focus, select:focus {background: #FFFFF5;}

input.ben-button, input.button {
	margin: 5px;
	padding: 5px 10px;
	color: #363636;
	font-family: Arial;
	font-weight: bold;
	background: transparent url(../image/bg-button-fcn.gif) repeat-x;
	border: 1px solid #C8C8C8;
	border-radius: 3px;
	text-shadow: 0 1px 0px white;
	text-decoration: none;
}
a.button, a.ben-button {
	margin: 5px;
	padding: 5px 10px;
	color: #363636;
	font-family: Arial;
	font-weight: bold;
	background: transparent url(../image/bg-button-fcn.gif) repeat-x;
	border: 1px solid #C8C8C8;
	border-radius: 3px;
	text-shadow: 0 1px 0px white;
	text-decoration: none;	
}


input.ben-button:hover, input.button:hover, a.ben-button:hover, a.button:hover{
	background: #097AB3;
	border: 1px solid #034E88;
	text-shadow: none;
	color:white;
}
input.ben-button:active, input.button:active {border-style: inset;}












/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */




/* 
   COMMON LAYOUT
------------------------------------------------------------------- */
/* Wrapper */
#ben-main {
	margin: 0 auto;
	width: 100%;
}





/*---------- HEADER AREA ------------*/
/* Header */
#ben-header {
	
	padding-top: 0px;
	/*border-bottom: thin dashed white; */
	/*background:url(../image/bk_header_top_02_02.png) repeat-x;*/
	background:#0A84C1;
}

/* Optional Top */
#ben-top{
	margin: 0 auto;
	width: 1000px;
	height:88px;
	padding-bottom: 0px;
	/*background:url(../image/bk-header.png);*/
	background:#0A84C1;
}


/* Logo */
#ben-logo {	
	padding: 5px 15px 0 50px;
	margin-right: 40px;
}
#ben-logo img {}

#ben-site-title{padding-top:30px}

/* Splash */
#ben-splash {padding-top: 32px;}



/* Main Menu */
.ben-navigation{
	height:38px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em;
	font-weight:bold;
	margin-left: 165px;
}
/* Main Level 1 */
#ben-main-nav, #ben-main-nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:1.5em; 
z-index:100;
}

#ben-main-nav a{
display:block;
padding: 9px 19px;
color:#fff;
text-decoration:none;
}

#ben-main-nav a:hover{
	background-color:#fff;
	color:#a72c48;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#ben-main-nav li{
float:left;
position:relative;
margin-left:5px;
}

#ben-main-nav a.current-tab{
	background-color:#FFF;
	color:#a72c48;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#ben-main-nav ul {
position:absolute;
display:none;
width:12em;
top:2.1em;
}

#ben-main-nav ul li{
margin-left:0px;
}

#ben-main-nav li ul a{
width:12em;
height:auto;
float:left;
}

#ben-main-nav ul ul{
top:auto;
}	

#ben-main-nav li ul ul {
left:14.3em;
margin:0px 0 0 10px;
}

#ben-main-nav li:hover ul ul, #ben-main-nav li:hover ul ul ul, #ben-main-nav li:hover ul ul ul ul{
display:none;
}
#ben-main-nav li:hover ul, #ben-main-nav li li:hover ul, #ben-main-nav li li li:hover ul, #ben-main-nav li li li li:hover ul{
display:block;
}


/* Subnav Leve 2 */
#ben-sub-nav {
	border-bottom: 1px solid #DDD;
	padding: 12px 5px;
}
#ben-sub-nav a {
	font-size: 1.2em;
	text-decoration: none;
}
#ben-sub-nav li {margin: 0 1em;}
#ben-sub-nav li.current-tab a {font-weight: bold;}





/*---------- BODY AREA ------------*/
#ben-content { width:100%;

padding-bottom:30px;}

#ben-maincontent{}
.ben-two-columns #ben-maincontent{width: 750px;}
.ben-three-columns #ben-maincontent{width:570px; margin-left:5px;}
.ben-three-columns-right #ben-maincontent{width:520px; margin-right:20px}


/* Sidebar */
#ben-sidebar{} /*Div chua 2 sidebar*/
.ben-sidebar{width:210px;}


/* Columns */
.ben-col2 {width: 46%;}
.ben-col2.ben-other{width:48%}
.ben-col3, .col3-mid {width: 31%;}
.ben-col3-mid {margin-left: 3%;}


/* Posts - News list */
.ben-post {margin-bottom: 20px;}

.ben-post img.ben-left{margin-bottom:1em}

.ben-post-title {}
.ben-post-title a {}

.ben-post-date {color: #777; margin-bottom:0.6em}
.ben-post-date a {color: #444;}

.ben-post-body {font-size: 1.1em;}
.ben-post-body a {color: #039;}
.ben-post-body a:hover {color: #039;}

.ben-post-pagination {
	color: #777;
	padding: 10px 0;
}
.ben-post-pagination-top {
	border-bottom: 1px solid #DDD;
	margin-bottom: 24px;
}
.ben-post-pagination-bottom {
	border-top: 1px solid #DDD;
	margin-top: 24px;
}



/* Sections */
.ben-section {margin-bottom: 10px; border:1px solid #DDDDDD}
.ben-sidebar .ben-section{}
#ben-maincontent .ben-section{}

.ben-section-content, .section-content{padding:5px 15px}
.ben-sidebar .ben-section-content{padding:5px}
#ben-maincontent .ben-section-content{padding:5px 10px}

.ben-section-title {
	background-color: #F9F9F9;
	border-top: 2px solid #DDD;
	color: #7A7A7A;
	font: bold 1.2em sans-serif;
	margin-bottom: 5px;
	padding: 7px 10px 6px;
}
.ben-sidebar .ben-section-title {margin-bottom: 8px;}
#ben-maincontent .ben-section-title {margin-bottom: 8px;}

.section-title{
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: bold;
	padding: 3px 20px;
	background: #DDD;
	margin-bottom:5px;
}





/*---------- FOOTER AREA ------------*/
#ben-footer {
	/*background:url(../image/bk_footer_62.png) transparent repeat-x;*/
	background:#034E88;
	height:89px;
	width:100%;
	color: white;
	padding:5px 0;
}
#ben-footer-left {width: 50%; color:white;}
#ben-footer a{color:white;}
#ben-footer-right {
	width: 50%;
	text-align: right;
}
#ben-footer p {margin-bottom: 0.4em;}
#ben-footer .text-separator {
	padding: 0 3px;
	color: #BBB;
}
.text{
	border: 1px solid #CECECE;
	background: #FEFEFE url(../image/input_text2.gif) repeat-x;
	padding: 3px;
	margin-right:10px;
}
.seo{
	width:675px;
}
#ben-footer a:hover {color: white;}
.ben-page
{
	margin-top:5px;
	text-align:center;	
}
.results
{
	text-align:center;	
}

.ben-page a
{
	border:thin solid #CCC;
	padding:3px;
	margin:3px;
}
.ben-answer
{
	background:#F00;
}

ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul#menu a {
  /*display: block;*/
  text-decoration: none;
  padding: 0.2em;	
  background:transparent;
}

ul#menu div.collape{
	cursor:pointer;
}

ul#menu li {
  margin-top: 1px;
}

ul#menu li div {
  background: #666666;
  color: #FFF;	
  padding: 0.4em;
}

ul#menu li div a{
  color: #FFF;	
}

ul#menu li div a{
  color: #FFF;	
}

ul#menu li div:hover{
  background: #000;
  color: #FFF;	
}

ul#menu li ul li div {
  background: #CCCCCC;
  color: #000;
  padding-left: 20px;
}

ul#menu li ul li a {
  color: #FFF;
}

ul#menu li ul li ul li div {
  background: #F2F2F2;
  color: #000;
  padding-left: 30px;
}

ul#menu li ul li ul li div a {
  color: #000;
}

ul#menu li ul li div:hover {
  background: #aaa;
  border-left: 5px #000 solid;
}
.number
{
	text-align:right !important;	
}
.container
{
	margin-bottom:10px;	
}

.ben-editor td
{
	border:thin solid;
	padding:5px;
}

.ben-data-table td, .ben-data-table th, .data-table td, .data-table th{
	padding:10px;
	border: 1px solid #D3E5ED;
}
.tr-head{
	background:#CCC !important;
	text-transform: uppercase;
	font-weight:bold;
}
.ben-data-table tr:nth-child(2n+1), .data-table tr:nth-child(2n+1){
	background:#E7F3F8;
}
.ben-data-table tr:hover, .data-table tr:hover{
	background:#EBEBEB;
}
.ben-data-table tr td:last-child, .data-table tr td:last-child{
	/*background: #A9DCF3;*/
	text-align: center;
	width: 180px ;
}
.ben-menu-small{
	background:url(../image/menusmall_bg.png) transparent no-repeat;
	width:369px;
	height:33px;
	color:white;
	font-family:Tahoma, Geneva, sans-serif;
	padding-top:5px;
	text-align:center;
	margin-bottom:2px;
}
.ben-menu-small a{
	color:white;
}
.ben-socical{
	margin-top: 45px;
    text-align: center;
}
.ben-banner{
	background:url(../image/images/bg_flash_04.png) repeat-x;

}
.ben-wraper{
	width:100%;
	margin:0 auto;
}
.ben-banner-img{
	padding:5px;
}
.ben-banner-info{
	width:319px;
	margin:5px 0;
	height:450px;
	background:url(../image/images/bg_banner_07.png) no-repeat;
}
.ben-banner-title{
	padding:5px;
}
.ben-banner-content{
	color: white;
    font-family: tahoma;
    font-size: 1.1em;
	padding:0 15px;
}
.ben-banner-content a{
	color:white;
	font-size:0.8em;
	font-family:Tahoma, Geneva, sans-serif;
	padding:0 5px;
}
.ben-btn-login{
	background:url(../image/btn-login.png) transparent no-repeat;
	width:89px;
	height:28px;
	cursor:pointer;
}
.ben-btn-signup{
	background:url(../image/btn_signup.png) transparent no-repeat;
	width:89px;
	height:28px;
	cursor:pointer;
	margin-left:10px;
}
.ben-btn-search{
	background:url(../image/btn_timkiem.png) transparent no-repeat;
	width:89px;
	height:28px;
	cursor:pointer;
}
.ben-text-banner{
	background: none repeat scroll 0 0 #FCFCFC;
    border: 1px inset #AAAAAA;
    margin: 0.2em 0;
    padding: 4px 5px;
	border-radius:5px;
	width:175px;
}
.ben-navimenu{
	width:250px;
	margin-bottom:10px;
	
	height:748px;
	border:1px solid #cfcfcf;
}
.thanh-ben-content{
	
	width:718px;
	margin-bottom:10px;
	
	height:748px;
	border:1px solid #cfcfcf;
}


table.picture{
	
}
table.picture td{
	padding:4px 0;
	text-align:center;
}
.ben-location{
	background:url(../image/bg_location.png)transparent no-repeat;
	border:thin dashed #F06;
	font-family:Tahoma, Geneva, sans-serif;
	width:316px;
	height:128px;
}
.ben-location-title{
	color: white;
	padding-left: 5px;
    padding-top: 2px;
	height:20px;
}
.ben-location-content{
	padding: 17px 5px;
    width: 210px;
}
.ben-location-content a{
	color:#F06;
}
table.location-table{}
table.location-table tr{
	margin-top:2px;
}
.ben-danhsach{
	margin-left: 5px;
    margin-top: 5px;
}
.ben-danhsach-title{
	background:url(../image/images/danhsach-bg_03.png) transparent repeat-x;
	padding:10px;
}
.ben-danhsach-content{
	border:1px solid #F06;
	padding:5px 0;
}
table.danhsach-table{
	margin: 1px 35px;
}
.ben-text-danhsach{
	background:  #cc6e8c no-repeat;
    border: thin dashed #C06;
    margin: 0.2em 0;
    padding: 4px 5px;
	color:#CCC;
	
}

.ben-text-danhsach:focus{
	background:  #cc6e8c no-repeat;
	color:#CCC
}
table.danhsach{
	color:#F06;
	font-family:Tahoma, Geneva, sans-serif;
}
table.danhsach a{
	color:#F06;
	font-family:Tahoma, Geneva, sans-serif;
}
table.danhsach td{
	text-align:center;
	font-weight:bold;
}
.ben-adress{
	text-align:left;
}
.ben-header-top{
	background-color:white;
	height:104px;
}
.ben-menu{
	/*background:url(../image/bk_menu_10.png) transparent repeat-x;*/
	background:#034E88 35px;
	width:100%;
	height:35px;
	padding-top:8px;
	margin-bottom: 5px;
}
.ben-flash{
	width:100%;
	background:url(../image/images/images/bg_banner_07_03.png) repeat-x;
}
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
#ben-popup-content
{
	padding:10px;	
}
.main-footer{
width:1000px;
height:97px;
margin:0 auto;
}
.thanh-ben-edwiwn{
	width:300px;
}
.thanh-logo-footer{
	margin-left:90px;	
}
#ben-navimenu{
	width:247px;
	margin-bottom:10px;	
	min-height:400px;
	border-right:4px solid #202c3c;
	position:relative;
	margin-right:30px;
	background:url(../image/bk_left-sidebar_05.png) repeat-y;
}
#ben-cms-content{
	width:77%;
	margin-bottom:10px;
	min-height:400px;
	border:1px solid #cfcfcf;
}
.zoom{
	position:absolute;
	top:0;
	right:-23px;
}
.thanh-effect-logo{
	width:223px;
	height:88px;
	/*background:url(../image/logo-effect_03.png);*/
}
#menu-left{
	list-style:none;
	width:97%;
}
#menu-left > li{
	background:#DDD;
	border-bottom: white 1px solid;
}
#menu-left li a{
	text-decoration:none;
	color:black;
}
#menu-left > li:hover, #menu-left > li:hover a{
	background:#F8F8F8;
}
.icon-item{
	width: 10px;
	/*height: 40px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	position: absolute;
	left:0;
	background:#ABABAB;
}
#menu-left > li:hover div.icon-item{
	background:#333;
}
.icon-menu{
	background: url(../image/sidenav-sprite.png) -70px 10px;
	padding-top: 40px;
	width: 30px;
	display: block;
}
.title-menu{
	display: block;
	padding-top:10px;
	padding-bottom:10px;
}
.menu-left-1{
	list-style:none;
	display:none;
}
.menu-left-1 > li > a:hover > div.menu-left-title{
	background:#CCC;
}
li:hover > ul.menu-left-1{
 	display:block;
}
#ben-main-nav ul{
	margin-right:5px;
}
#ben-main-nav ul li{
	background:#034E88;
}
#ben-main-nav li > ul{
	margin-top:10px;
}
#ben-main-nav li > ul a:hover{
	border-radius:0px;
	background:#DDD;
}
#ben-main-nav li > ul ul{
	margin-right:10px;
}
#ben-main-nav > li > ul li{
	border-bottom:1px solid #DDD;
}
#ui-datepicker-div{
	display:none;
}
.sort{
	text-align:center;
}
.filelist {
	width: 130px;
	height: 190px;
	margin:5px;
	border: 1px solid #DDD;
	border-radius: 5px;
	padding: 5px;
}
.map-sitemap-item {
	width: 230px;
}
label{
	font-weight:bold;
}
.col4 {
	margin-right:30px;
}
#btnAddAttachment{
	margin-left:43px;
}
.col3{
	width:35%;
}
#login{
	margin:0 auto;
	width:350px;
	background: #EDEDED;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.myprofile{
	margin-top:10px;
}