/* CSS Document */
.thanh-thongtincanhan-main{
	width:1000px;
	margin:0 auto;
	border:2px solid #960b38;
	

}
.ben-thanh-left-sidebar{
	border-right: 2px dashed #960B38;
    margin: 8px 0;
    padding: 0 25px;
    width: 204px;
	
}
.ben-thanh-middle-sidebar{
	 padding: 10px 9px;
    width: 470px

}
.ben-thanh-right-sidebar{
	border-left: 2px dashed #960B38;
    margin: 10px 0;
    padding: 0 25px;
    width: 204px;
}
.ben-left{
	float:left;
}
.ben-right{
	float:right;
}
.clearer{
	clear:both;
}
.thanh-hinh-daidien{
	border:2px solid #960b38;
}
.thanh-inbox{
	background:url(../image/bk_btn_93_126.png) repeat-x;
	border:1px solid #cfcfcf;
	width:97px;
	height:33px;
	line-height:28px;
	text-align:center;
	}
.thanh-inbox a{
	text-decoration:none;
	color:#343434;
}
.thanh-taikhoan{
	background:url(../image/bk_btn_93_126.png) repeat-x;
	border:1px solid #cfcfcf;
	width:203px;
	height:33px;
	line-height:28px;
	text-align:center;
}
.thanh-taikhoan a{
	text-decoration:none;
	color:#343434;
}

.thanh-sua{
	background:url(../image/bk_btn_93_126.png) repeat-x;
	border:1px solid #cfcfcf;
	width:66px;
	height:29px;
	line-height:28px;
	text-align:center;
}
.thanh-sua a{
	text-decoration:none;
	color:#343434;
}
.thanh-bk-main-image{
	width:133px;
	height:101px;
	background:url(../image/bk-main-image_05.png);
}
.thanh-bk-image{
	width:133px;
	height:101px;
	background:url(../image/bk-image_05.png);
}
.thanh-title-hotenungvien{
	text-align:center;
	
}
.title-color{
	color: #960B38;
    font-size: 1em;
    font-weight: bold;
}
.thanh-title{
	width:458px;
	padding-bottom:10px;	
	height:30px;
	border-bottom:1px solid #d1a5b3;
	margin-bottom:5px;
}
.thanh-image-daidien{
	margin-bottom:10px;
}
.thanh-image-album{
	width:400px;
	margin:0 auto;
}
.thanh-ten-album{
	text-align:center;
}
.zoom-block{
	height:30px;
margin-bottom:10px;
}
.thanh-bk-image{

}
.image-item{
	margin:12px 5px;
}
.thanh-diemtichluy{
	color:#c43262;
	font-weight:bold;
	font-size:1.8em;
	padding:0px;
	margin:10px 40px 0 auto;
}

.thanh-title-right{
	width:206px;
	padding-bottom:10px;	
	height:30px;
	border-bottom:1px solid #d1a5b3;
	margin-bottom:5px;
}
.thanh-center{
	width:460px;
	margin:0 auto;
}
#thanh-thong-tin-ungvien{	
	overflow:hidden;
}
#thanh-bai-viet-ungvien{
		
	overflow:hidden;
}
#thanh-thong-tin-ungvien{
		
	overflow:hidden;
}
#profile-ungvien tr td{
	padding:2px 0 !important;
}
.thanh-hover:hover{
	color: #960B38;
	font-weight:bold;
}


/*
Site register*/

.thanh-register{
	width:1200px;
	margin:0 auto;
}
.thanh-content-register{
	width:1200px;
}
.thanh-register-thong-tin-dangnhap{
	width:583px;
	margin:0 auto;
	
}
.thanh-register-content{
	border-top:1px solid #cfcfcf;
	border-left:1px solid #cfcfcf;
	padding-top:40px;
	 margin-bottom: 32px;
}
.thanh-color-register{
	color:#a21543;
	float:right;
	margin-right:20px;
}
.thanh-title-register{
	height:30px;
	color:#a21543;
	font-size:1.4em;
	margin-bottom:5px;
	font-weight:bold;
	margin-top:10px;
}
.ben-textbox-eva{
	width:220px;
	background:#e9e9e9 !important;

}
.thanh-register-info{
	width:500px;
	margin:0 auto;
}
.thanh-register-info tr td{
	padding:10px 0;
}
.thanh-register-content-dieukhoan{
	
}
.thanh-btn-dangky{
	margin:0 auto;
	width:50px;
}
.thanh-register-content-dieukhoan{
	width:580px;
	margin:0 auto;
}
.thanh-register-dieukhoan{
	width:400px;
	margin:0 auto;
}
.thanh-margin-right{
margin-right:10px;
}
.thanh-register-dieukhoan tr td{
	padding:10px 0;

}
.dieukhoan{
	color:#a21543;
}
.thanh-vadilate{
	color:#666666;
}
.thanh-banner-register{
width:1000px;
}
.thanh-select-box{
	width:150px;
}
.thanh-dangnhap-ungvien{
	padding-left:28px;
}