.bOverlay {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:url(bgOverlay.png);
    z-index:999999;
}

.bPopup {
    margin:10% auto 0px auto;
    padding:10px;
    background:#FFF;
    border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
}

.bPopup div.bContent {
    overflow-x:hidden;
    text-align:left !important;
}

.bPopup.bSize, .bPopup .bSize, .bPopup div.bContent .bFlash {
    width:751px;
    height:400px;
}

.bPopup .bClose {
    width:32px;
    height:32px;
    margin:-28px 0px 0px 751px;
    position:absolute;
    cursor:pointer;
    background:url(close.png) no-repeat center;
}