<div class="section">

	<div class="section-title">Danh sách đăng ký nhận tin</div>
    
    <div class="section-content">
    	
        <form action="" method="post" id="listitem" name="listitem">
            <div class="clearer">^&nbsp;</div>
            
            <div>
                <form name="frm" id="frm" action="" method="post" enctype="multipart/form-data">    
                    <table>
                        <tr>
                            <td width="100px"><label>Xuất file excel</label></td>
                            <td>
                                <a onclick="ex_func()" class="button">Xuất tập tin</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            
            
            <div class="sitemap treeindex">
                <table class="data-table" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr class="tr-head">
                        
                        
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Ngày đăng ký</th>                    
                                                    
                    </tr>
        
        
        <?php
            foreach($datas as $item)
            {
        ?>
                    <tr>
                       
                        
                        <td><?php echo $item['hoten']?></td>
                        <td><?php echo $item['email']?></td>
                		<td><?php echo $this->date->formatMySQLDate($item['ngaydangky'],'longdate')?></td>
                        
                    </tr>
        <?php
            }
        ?>
                       
                                                    
                </tbody>
                </table>
            </div>
        	<?php echo $pager?>
        	
        </form>
        
    </div>
    
</div>
<script language="javascript">
function ex_func(){
	categoryid = $('#categroyid').val();
	window.location.href= '?route=addon/nhantin/exportData';
}
</script>