<div id="ben-footer">
	<table>
		<tbody>
        	<tr>
				<td class="ben-text-center" style="padding-top:15px;">
                	<?php echo $footermenu ?>
                    <a href="#">Lên đầu trang</a>
                </td>
			</tr>
			<tr>
				<td class="ben-text-center" colspan="2" align="center" style="padding-top:15px; padding-bottom:10px">
                	<p>
                        <font color="#ffffff">Copyright © 2012 - </font>
                        <a href="<?php echo HTTP_SERVER ?>">
                        	<strong><font color="#ffff00">www.dulichhot.com</font></strong>
                        </a>
                        <font color="#ffffff">. All Right Reserved. Powered by </font>
                        <a href="http://www.bensolution.com/" target="_blank">
                        	<font color="#ffff00">Ben Solutions</font></a>
                        <font color="#ffffff"> </font>
                    </p>
					<p>
                    	<font color="#ffffff">Add: 41 Vĩnh Nam, P.11, Q.8, TP.HCM - Tel: 
							(848) 39 516 668 - Fax: (848) 39 516 669</font>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<?php echo $popup; ?>