<!--<div id="ben-header">
    <div id="ben-top">
        <div class="ben-left" id="ben-logo">
            <img src="<?php echo HTTP_SERVER.DIR_IMAGE?>logo.gif" alt="" />
        </div>
    
        <div class="ben-left" id="ben-site-title">
            <h1><?php echo $this->document->setup['Slogan']?></h1>
        </div>
    
        <div class="clearer">&nbsp;</div>
        
        <div class="ben-navigation">
    
            <ul id="ben-main-nav">
                <?php echo $mainmenu?>
            </ul>
    
            <div class="clearer">&nbsp;</div>
    
        </div>
        
    </div>
</div>-->
<!--<?php echo html_entity_decode($this->document->setup['SEO'])?>-->
<script src="<?php echo HTTP_SERVER.DIR_JS?>menu.js" language="javascript"></script>
<div id="ben-header">
    <div id="ben-top">
      <div class="ben-left" id="ben-logo2"><a href="<?php echo HTTP_SERVER?>home.php"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>logo.png" width="255" height="115" /></a></div>
      <div class="ben-left ben-header-right">
      	<div class="ben-login ben-right">
        	<?php if($this->member->getUserName()==""){ ?>
            	<div class="ben-right login"> 
                	<a href="<?php echo $this->document->createLink('login') ?>" class="ben-a-dn">Đăng nhập</a> &nbsp;|&nbsp;
                	<a href="<?php echo $this->document->createLink('register') ?>" class="ben-a-dn">Đăng ký</a>  &nbsp;|&nbsp;
                    <a href="<?php echo $this->document->createLink('lienhe') ?>" class="ben-a-dn">Liên hệ</a>
                </div>
            <?php } else {?>
            	<div class="ben-right login"> 
                	<a href="<?php echo $this->document->createLink('changepass')?>" class="ben-a-dn"> Xin chào, <?php echo $this->member->getUserName() ?></a>  &nbsp;|&nbsp;
                    <a onclick=logout() class="ben-a-dn">Đăng thoát</a>  &nbsp;|&nbsp;
                    <a href="<?php echo $this->document->createLink('lienhe') ?>" class="ben-a-dn">Liên hệ</a>
                </div>
            <?php }?>
        	<!--<a href="<?php echo $this->document->createLink('login') ?>" class="ben-a-dn">Đăng nhập</a>  &nbsp;|&nbsp;   <a href="<?php echo $this->document->createLink('register') ?>" class="ben-a-dn">Đăng ký</a>  &nbsp;|&nbsp;   <a href="#" class="ben-a-dn">Liên hệ</a>-->
        </div>
        
        <div class="ben-left" id="ben-site-title">
      	
        <h2 style="font-weight:bold; color:#FFF; margin-left:37px;">MÁY TÍNH BẢNG 100% TIẾNG VIỆT ĐẦU TIÊN TẠI VIỆT NAM</h2>
        <div class="ben-navigation2">
        <ul id="ben-main-nav">
          <li><a class='<?php echo $maytinhbang ?>' href="<?php echo $this->document->createLink('maytinhbang') ?>">Máy tính bảng</a>
          	<!--<ul>
              <li style="border-right:none"><a  href="#"  style="color:#FFF; background:none"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>point-nav.png" width="7" height="7" />&nbsp;&nbsp;Yotab A10 - 7 inch</a></li>
              <li style="border-right:none"><a  href='#' style="color:#FFF; background:none"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>point-nav.png" width="7" height="7" />&nbsp;&nbsp;Yotab A20 - 7 inch</a></li>
              <li style="border-right:none"><a  href='#' style="color:#FFF; background:none"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>point-nav.png" width="7" height="7" />&nbsp;&nbsp;Yotab A30 - 7 inch</a></li>
              <li style="border-right:none"><a  href='#' style="color:#FFF; background:none"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>point-nav.png" width="7" height="7" />&nbsp;&nbsp;Yotab E79 - 9.7 inch</a></li>
            </ul>-->
          </li>
          <li><a class='<?php echo $catalog ?>' href="<?php echo $this->document->createLink('catalog') ?>">Catalog</a></li>
          <li><a class='<?php echo $daily ?>' href="<?php echo $this->document->createLink('daily') ?>">Đại lý</a></li>
          <li><a class='<?php echo $hoidap ?>' href="<?php echo $this->document->createLink('hoidap') ?>">Hỏi đáp</a>
            
          </li>
          <li><a class='<?php echo $tintuc ?>' href="<?php echo $this->document->createLink('tintuc') ?>">Tin tức</a></li>
          <li><a class="sale-off" href="<?php echo $this->document->createLink('saleoff') ?>">SỞ HỮU GIÁ TỐT</a></li>
        </ul>
        <div class="clearer">&nbsp;</div>
      </div>
        </div>
      <div class="clearer">&nbsp;</div>
      	
      </div>
 	<div class="ben-mxh ben-right">
        	<div class="ben-left">
           	  <div class="ben-left ben-icon"><a href="http://www.facebook.com/digiluxvietnam"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-fb.png" width="19" height="20" /></a></div>
              <div class="ben-left ben-csbb"><a href="http://www.facebook.com/digiluxvietnam" class="ben-a-csbb">CHIA SẼ BẠN BÈ</a></div>
                <div class="ben-left ben-line-mxh"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-mxh.png" width="2" height="19" /></div>
                <div class="clearer"></div>
            </div>
            
            <div class="ben-left">
           	  <div class="ben-left ben-icon">
              <a href="ymsgr:sendim?Yotabvietnam"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-yh.png" width="21" height="20" /></a>
              </div>
              <div class="ben-left ben-yt">
                <a href="ymsgr:sendim?Yotabvietnam" class="ben-a-yt">YOTAB 1</a>
              </div>
              
              <div class="ben-left ben-icon">
              <a href="ymsgr:sendim?Yotabvietnam1"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-yh.png" width="21" height="20" /></a>
              </div>
              <div class="ben-left ben-yt">
                <a href="ymsgr:sendim?Yotabvietnam1" class="ben-a-yt">YOTAB 2</a>
              </div>
              
              <div class="ben-left ben-icon">
              <a href="ymsgr:sendim?Yotabvietnam2"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-yh.png" width="21" height="20" /></a>
              </div>
              <div class="ben-left ben-yt">
                <a href="ymsgr:sendim?Yotabvietnam2" class="ben-a-yt">YOTAB 3</a>
              </div>
              <br />
              <br />
              <div class="ben-left ben-icon">
              <a href="ymsgr:sendim?Yotabvietnam3"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-yh.png" width="21" height="20" /></a>
              </div>
              <div class="ben-left ben-yt">
                <a href="ymsgr:sendim?Yotabvietnam3" class="ben-a-yt">YOTAB 4</a>
              </div>
              
              <div class="ben-left ben-icon">
              <a href="ymsgr:sendim?Yotabvietnam4"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-yh.png" width="21" height="20" /></a>
              </div>
              <div class="ben-left ben-yt">
                <a href="ymsgr:sendim?Yotabvietnam4" class="ben-a-yt">YOTAB 5</a>
              </div>
              
               <!--<div class="ben-left ben-icon">
              <a href="ymsgr:sendim?Yotabvietnam"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-yh.png" width="21" height="20" /></a>
              <a href="ymsgr:sendim?Yotabvietnam" class="ben-a-yt">YOTAB 1</a>
              </div>
              <div class="ben-left ben-yt">
              	
                <a href="ymsgr:sendim?Yotabvietnam2"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-yh.png" width="21" height="20" /></a>
                <a href="ymsgr:sendim?Yotabvietnam2" class="ben-a-yt">YOTAB 3</a>
              </div>-->
                <!--<div class="ben-left ben-line-mxh"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-mxh.png" width="2" height="19" /></div>-->
                <div class="clearer"></div>
            </div>
            
            <!--<div class="ben-left">
           	  <div class="ben-left ben-icon"><a href="ymsgr:sendim?Yotabvietnam1"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-yh.png" width="21" height="20" /></a></div>
              <div class="ben-left ben-yt"><a href="ymsgr:sendim?Yotabvietnam1" class="ben-a-yt">YOTAB 2</a></div>
                <div class="ben-left ben-line-mxh"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-mxh.png" width="2" height="19" /></div>
                <div class="clearer"></div>
            </div>-->
            <div class="ben-left ben-line-mxh"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-mxh.png" width="2" height="19" /></div>
            
            <div class="ben-left">
           	  <div class="ben-left ben-icon"><a href="#"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-phone.png" width="21" height="21" /></a></div>
              <div class="ben-left ben-hl"><a href="#" class="ben-a-yt">HOTLINE: <span style="font-size:1.5em; font-weight:bold">099.591.5555</span></a></div>
              <br />
              <div class="ben-left ben-icon"><a href="#"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-phone.png" width="21" height="21" /></a></div>
              <div class="ben-left ben-hl"><a href="#" class="ben-a-yt">HOTLINE: <span style="font-size:1.5em; font-weight:bold">099.592.5555</span></a></div>
                
              <div class="clearer"></div>
            </div>
            <div class="ben-left ben-line-mxh"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-mxh.png" width="2" height="19" /></div>
            <div class="ben-left">
           	  <div class="ben-left ben-icon"><a href="<?php echo $this->document->createLink('cart') ?>"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>icon-giohang.png" width="21" height="21" /></a></div>
              <div class="ben-left ben-hl"><a href="<?php echo $this->document->createLink('cart') ?>" class="ben-a-yt">Giỏ hàng</a></a></div>
                
              <div class="clearer"></div>
            </div>
            <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
  </div>