<div class="ben-product-list">

    <div id="ben-content">
  	
      	<div class="ben-sanpham-title-catalog">PHỤ KIỆN MÁY TÍNH BẢNG - THỜI TRANG & SÀNH ĐIỆU</div>
<!--    <div>
    	<div class="ben-left ben-sanpham-bg-catalog"><a href="#"><img src="view/skin1/image/catalog1.png" width="291" height="241" /></a>
        	<p><span style="font-size:1.3em; font-weight:bold">Ốp lưng nhựa máy tính bảng 7"</span><br /><span style="font-size:1.5em; font-weight:bold; color:#95bb30;">Giá: 264.000 VNĐ</span></p>
        </div>
        <div class="ben-left ben-sanpham-bg2-catalog"><a href="#"><img src="view/skin1/image/catalog2.png" width="291" height="241" /></a>
        	<p><span style="font-size:1.3em; font-weight:bold">Ốp lưng nhựa máy tính bảng 7"</span><br /><span style="font-size:1.5em; font-weight:bold; color:#95bb30;">Giá: 264.000 VNĐ</span></p>
        </div>
        <div class="ben-left ben-sanpham-bg2-catalog"><a href="#"><img src="view/skin1/image/catalog3.png" width="291" height="241" /></a>
        	<p><span style="font-size:1.3em; font-weight:bold">Ốp lưng nhựa máy tính bảng 7"</span><br /><span style="font-size:1.5em; font-weight:bold; color:#95bb30;">Giá: 264.000 VNĐ</span></p>
        </div>
        <div class="clearer"></div>
    </div>
    <div>
    	<div class="ben-left ben-sanpham-bg-catalog"><a href="#"><img src="view/skin1/image/catalog6.png" width="291" height="241" /></a>
        	<p><span style="font-size:1.3em; font-weight:bold">Ốp lưng nhựa máy tính bảng 7"</span><br /><span style="font-size:1.5em; font-weight:bold; color:#95bb30;">Giá: 264.000 VNĐ</span></p>
        </div>
        <div class="ben-left ben-sanpham-bg2-catalog"><a href="#"><img src="view/skin1/image/catalog5.png" width="291" height="241" /></a>
        	<p><span style="font-size:1.3em; font-weight:bold">Ốp lưng nhựa máy tính bảng 7"</span><br /><span style="font-size:1.5em; font-weight:bold; color:#95bb30;">Giá: 264.000 VNĐ</span></p>
        </div>
        <div class="ben-left ben-sanpham-bg2-catalog"><a href="#"><img src="view/skin1/image/catalog4.png" width="291" height="241" /></a>
        	<p><span style="font-size:1.3em; font-weight:bold">Ốp lưng nhựa máy tính bảng 7"</span><br /><span style="font-size:1.5em; font-weight:bold; color:#95bb30;">Giá: 264.000 VNĐ</span></p>
        </div>
        <div class="clearer"></div>
    </div>-->
    
<div class="catalog-list">
    <?php
    if($medias)
    {
    	foreach($medias as $item) { 
    ?>
    	<div class="ben-left ben-sanpham-bg-catalog"><a href="<?php echo $item['link'] ?>"><img src="<?php echo $item['imagethumbnail'] ?>" width="291" height="241" /></a>
        	<p><span style="font-size:1.3em; font-weight:bold"><a href="<?php echo $item['link'] ?>"><?php echo $item['productname'] ?></a></span><br />
            <span style="font-size:1.5em; font-weight:bold; color:#95bb30;">Giá: <?php echo $this->string->numberFormate($item['price']) ?> <?php echo $this->document->setup['Currency']?></span></p>
        </div>
    	<!--<div class="ben-left ben-sanpham-bg"><a href="<?php echo $item['link'] ?>"><img src="<?php echo $item['imagethumbnail'] ?>" width="446" height="296" /></a></div>-->
    <?php 
    	} 
    }    
    ?>
</div>
   
   

  </div>
    
    
    <div class="clearer">&nbsp;</div>
    	<?php if($paging){ ?>
    <div class="ben-post">
    	<?php echo $pager?>
    </div>
    	<?php } ?>
    <div class="clearer">&nbsp;</div>
   
</div>