<div class="ben-two-columns">
      <div class="ben-left ben-sidebar-hoidap">
       	  <div class="ben-title-sidebar">HỎI ĐÁP YOTAB</div>
           <!-- <div><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>event-yotab.png" width="218" height="136" /></div>
            <div class="ben-section-title-event"><a href="#" class="ben-a-xt">Hồ Ngọc Hà thử chơi game trên Yotab</a></div>
        <div class="ben-right ben-xt-tt2"><a href="#" class="ben-a-xt">Xem thêm >></a></div>
        <div class="line-event"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-event.png" width="219" height="1" /></div>
        	<div><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>event-yotab.png" width="218" height="136" /></div>
            <div class="ben-section-title-event"><a href="#" class="ben-a-xt">Hồ Ngọc Hà thử chơi game trên Yotab</a></div>
        	<div class="ben-right ben-xt-tt2"><a href="#" class="ben-a-xt">Xem thêm >></a></div>
        	<div class="line-event"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-event.png" width="219" height="1" /></div>
            <div><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>event-yotab.png" width="218" height="136" /></div>
            <div class="ben-section-title-event"><a href="#" class="ben-a-xt">Hồ Ngọc Hà thử chơi game trên Yotab</a></div>
        	<div class="ben-right ben-xt-tt2"><a href="#" class="ben-a-xt">Xem thêm >></a></div>
        	<div class="line-event"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-event.png" width="219" height="1" /></div>
            <div><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>event-yotab.png" width="218" height="136" /></div>
            <div class="ben-section-title-event"><a href="#" class="ben-a-xt">Hồ Ngọc Hà thử chơi game trên Yotab</a></div>
        	<div class="ben-right ben-xt-tt2"><a href="#" class="ben-a-xt">Xem thêm >></a></div>
        	<div class="line-event"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-event.png" width="219" height="1" /></div>
            <div><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>event-yotab.png" width="218" height="136" /></div>
            <div class="ben-section-title-event"><a href="#" class="ben-a-xt">Hồ Ngọc Hà thử chơi game trên Yotab</a></div>
        	<div class="ben-right ben-xt-tt2"><a href="#" class="ben-a-xt">Xem thêm >></a></div>-->
            <ul id="hoidap">
            	<?php echo $menuhoidap ?>
        	</ul>
        </div>

    	<div class="ben-left ben-content-hoidap">
<!--        	<div class="ben-title-ctsp">Hồ Ngọc Hà thử chơi game trên Yotab</div>
            <div class="ben-section-content-ctsp"><span style="font-weight:bold">Cuộc chơi diễn ra giữa ca sĩ Hồ Ngọc Hà và fan cuồng nhiệt của máy tính bảng đã cùng nhau trổ tài đọ sức game Pikachu... </span><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>img-cttt.png" width="705" height="447" />"Nữ ca sĩ được yêu thích nhất" là hạng mục được trao giải sau cùng nhưng cũng là hạng mục gây "sốt" và nhiều sự chú ý. Việc Hồ Ngọc Hà và Mỹ Tâm cùng nằm ở bảng này khiến giữa lực lượng fan của hai nữ ca sĩ có cuộc chạy đua quyết liệt.<img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>img-cttt2.png" width="705" height="446" />Trước đêm trao giải diễn ra, từ 18h30, khoảng 100 fan của Mỹ Tâm đã đứng chờ sẵn reo vang tên cô. Tại sân khấu trao giải, lượng fan này cũng khá "áp đảo" fan của Hồ Ngọc Hà và nhiều nghệ sĩ khác khi họ liên tục reo tên nữ ca sĩ thần tượng. Khi diễn viên Thanh Hằng, Tăng Thanh Hà lên bục giữ nhiệm vụ trao giải, fan của ca sĩ Tóc nâu môi trầm hò hét vang khán phòng, át cả tiếng của nghệ sĩ trên sân khấu làm khán giả phải chật vật lắng nghe.<img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>img-cttt3.png" width="705" height="442" /></div>-->
            <?php echo $post['description'] ?>;
            
        </div>

        <div class="clearer"></div>
    </div>