<!--<div class="bb"><?php echo $post['title'] ?></div>-->
<div class="ben-post-infor">

    <div class="ben-editor">
        <p>
            <?php echo $post['description']?>
        </p>
    </div>
	
    <div class="clearer">&nbsp;</div>
</div>