<!--<?php echo $banner?>
<div id="ben-content">
<div class="ben-product">
    <div class="ben-section">
      <div class="ben-title">
        <div class="ben-right ben-title-small">
          <div class="ben-left ben-sp"><?php echo $sitemap['sitemapname']?></div>
          <div class="ben-right ben-title-right">
          	
          </div>
          <div class="clearer"></div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="ben-content">
        <div class="ben-two-columns">-->
          
<!--          <div class="ben-left ben-content-sp thanh-list-sanpham">
            <div class="ben-section">
              <div class="ben-section-content">-->
                <?php echo $listproduct?>
<!--              </div>
            </div>
          </div>
-->          <!--<div class="ben-right ben-sidebar">
            <div class="ben-section">
              <?php echo $frmsearch?>
              <div class="ben-section-title">
              	ĐƯỢC MUA NHIỀU NHẤT
              </div>
              <?php echo $sanphambanchay?>
              <div class="ben-section-title">
              	PHỤ KIỆN
              </div>
              <?php echo $phukienbanchay?>
            </div>
          </div>-->
         <!-- <div class="clearer"></div>
        </div>-->
       
       	<!--BANNER DETAIL-->
       <!-- <?php echo $bannerdetail ?>
      </div>
      </div>
      </div>
</div>-->