<?php 
	if($medias){
    	foreach($medias as $item){
?>
<div>
    <?php if($item['imagethumbnail'] !=""){ ?>
        <a href="<?php echo $item['link']?>"><img src="<?php echo $item['imagethumbnail']?>" width="218" height="136" /></a>
    <?php }?>
</div>
<div class="ben-section-title-event"><a href="<?php echo $item['link']?>" class="ben-a-xt"><?php echo $item['title']?></a></div>
<div class="ben-right ben-xt-tt2"><a href="<?php echo $item['link']?>" class="ben-a-xt">Xem thêm >></a></div>
<div class="line-event"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>line-event.png" width="219" height="1" /></div>
<?php
		}
    }
?>