/*html{background:url(http://www.mjgroup.com.vn/images_v2/bg-dl-htm.jpg) repeat;}*/
body {
	background-color: #0095DA
}
span.sub-nav-bg-dl {
	height:110px;
	width:1011px;
	background:url(http://www.mjgroup.com.vn/images_v2/bg_sub_nav_dl.png) no-repeat;
	position:absolute;
	z-index:-1;
	top:0;
	left:-16px;
	display:inline-block
}
div.sub-nav-bg-dl {
	position:relative;
	height:110px;
	clear:left;
	float:left;
}
.sub-nav-dl-inner {
	height:86px;
	margin-top:24px;
	clear:left;
}
div.sub-nav-bg-dl .select-city em {
	font-family:Conv_nhom_muarg;
	font-size:15px;
	padding-left:30px;
}
div.sub-nav-bg-dl .select-city h3, div.sub-nav-bg-dl .select-box a {
	font-family:Conv_nhom_muamd;
	font-size:19px;
	padding-left:28px;
}
div.sub-nav-bg-dl .select-box a {
	padding-left:18px;
}
div.sub-nav-bg-dl .select-city .arrow {
	width: 24px;
	height: 24px;
	background: url(http://www.mjgroup.com.vn/images_v2/disc_ddl_dl.png) no-repeat;
	position:absolute;
	right:20px;
	top:15px;
}
div.sub-nav-bg-dl .popup-select {
	border-radius: 4px;
	moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 146px;
	left: 9px;
	top: 18px;
}
div.sub-nav-bg-dl .popup-select span.separation {
	width:145px;
	margin-top:2px;
}
div.sub-nav-bg-dl .sub-nav-inner a.active, div.sub-nav-bg-dl .sub-nav-inner a:hover {
	background:#fff;
	color:#0099cc;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px #666 inset;
	-moz-box-shadow: 0 1px 2px #666 inset;
	-webkit-box-shadow: 0 1px 2px #666 inset;
}
div.sub-nav-bg-dl .sub-nav-inner a.active em, div.sub-nav-bg-dl .sub-nav-inner a:hover em {
	text-shadow:none;
}
div.sub-nav-bg-dl .sub-nav-inner li {
	padding:0 4px;
}
div.sub-nav-bg-dl .sub-nav-inner a {
	padding:0 12px;
	font-family:Conv_nhom_muamd;
	height:auto;/* line-height:44px; */
}
div.sub-nav-bg-dl .sub-nav-inner a em {
	font-size:19px;
	display:inline-block;
	line-height:44px;
}
div.sub-nav-bg-dl .select-city {
	width:187px;
}
div.sub-nav-bg-dl .sub-nav-inner {
	width:678px;
}
div.sub-nav-bg-dl .line-41 {
	float:left;
	width:2px;
	height:41px;
	background: url(http://www.mjgroup.com.vn/images_v2/line_41.png) no-repeat;
	font-size: 0;
	margin-top:22px;
}
div.sub-nav-bg-dl .ico-sub-nav a {
	margin:0 5px;
	box-shadow: -1px 1px 1px #666;
	-moz-box-shadow: -1px 1px 1px #666;
	-webkit-box-shadow: -1px 1px 1px #666;
}
div.sub-nav-bg-dl .ico-sub-nav {
	padding-left:16px;
	margin-top:31px;
}
.module {
	clear:left;
	float:left;
	width:100%;
}
/*.dl-sub-menu{ height:56px; background:url(http://www.mjgroup.com.vn/images_v2/bg-dl-p2.gif) no-repeat; position:relative; top:2px;}*/
.dl-sub-menu {
	height:56px;
	background:url(http://www.mjgroup.com.vn/images_v2/bg-dl-p2.gif) no-repeat;
	position:relative; /*top:2px;*/
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}
/*.dl-sub-menu-inner{ clear:left; float:left;top:-4px; position:relative;}27.2*/
.dl-sub-menu-inner {
	clear:left; /*float:left;*/
	top:-2px;
	position:relative;
	width:580px;
	margin:0 auto;
}/*27.2*/
.dl-sub-menu-inner li {
	float:left;
	padding:0 21px;
}
.dl-sub-menu-inner a {
	clear:left;
	float:left;
	display:inline-block;
	color:#666;
	font-family:Conv_nhom_muarg;
	font-size:16px;
	line-height:56px;
	padding-top:4px
}
.dl-sub-menu-inner a em {
	height:0;
	float:left;
	border-top:4px solid #0099cc;
	font-size:0;
	position:absolute;
	top:0;
	left:0;
}
.dl-sub-menu-inner a:hover, .dl-sub-menu-inner .active {
	color:#fff;
	border-top:4px solid #0099cc;
	line-height:56px;
	padding-top:0;
}
.dl-sub-menu-pg {
	position:absolute;
	top:12px;
	right:0;
}
.dl-sub-menu-pg span {
	float:left;
}
.dl-sub-menu-pg em {
	display:inline-block;
	height:24px;
	width:14px;
	overflow:hidden;
	cursor:pointer;
}
.dl-sub-menu-pg .line {
	width:3px;
	height:32px;
	font-size:0;
	background:url(http://www.mjgroup.com.vn/images_v2/dl-pg.png) 0 -120px no-repeat;
}
.dl-sub-menu-pg .prev, .dl-sub-menu-pg .next {
	margin-top:4px;
	padding:0 11px;
}
.dl-sub-menu-pg .prev em {
	background:url(http://www.mjgroup.com.vn/images_v2/dl-pg.png) 0 0 no-repeat;
	cursor:default;
} /* 22.2 */
.dl-sub-menu-pg .next em {
	background:url(http://www.mjgroup.com.vn/images_v2/dl-pg.png) 0 -60px no-repeat;
	cursor:default;
}/* 22.2 */
.dl-sub-menu-pg .prev .active {
	background:url(http://www.mjgroup.com.vn/images_v2/dl-pg.png) 0 -30px no-repeat;
	cursor:pointer
}/* 22.2 */
.dl-sub-menu-pg .next .active {
	background:url(http://www.mjgroup.com.vn/images_v2/dl-pg.png) 0 -90px no-repeat;
	cursor:pointer
}/* 22.2 */
.dl-sort {
	height:102px;
	position:relative;
	clear:left;
	margin-top:8px;
	z-index:1;
}
.bg-dl-sort {
	display:inline-block;
	height:102px;
	width:982px;
	background:url(http://www.mjgroup.com.vn/images_v2/dl-sort.png) no-repeat;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
.dl-sort-inner {
	clear:left;
	float:right;
	margin-top:9px;
	padding-right:20px;
}
.dl-sort-inner span.dl-title {
	color:#fff;
	text-transform:uppercase;
	font-size:19px;
	font-family:Conv_nhom_muarg;
	float:left;
	line-height:88px;
	font-weight:600;
}
.dl-sort-inner .ddl-city {
	float:left;
	padding:23px 20px 0 43px;
}
.form-date {
	float:left;
	padding:0 20px 0 26px;
}
.form-date p {
	color:#fff;
	font-size:13px;
	font-family:Conv_nhom_muarg;
	font-style:italic;
	line-height:23px;
}
.dl-sort-inner .button {
	float:left;
	margin-top:23px;
}
.dl-sort-inner .button a {
	color:#fff;
	font-family:arial;
	font-size:15px;
	line-height:44px;
	height:44px;
	width:105px;
	text-align:center;
	display:inline-block;
	background-image: -moz-linear-gradient(center top, #d70006 10%, #620001 100%);
}
.dl-sort-inner .button a:hover {
	background-image: -moz-linear-gradient(center top, #620001 10%, #d70006 100%);
}
.dropdownlist {
	position:relative;
}
.bg-ddl {
	background:#fff;
	height:42px;
	border:1px solid #a4a4a4;
	border-width:0 1px 1px 0;
	position:relative;
	box-shadow:1px 1px 3px #999 inset;
	-moz-box-shadow:1px 1px 3px #999 inset;
	-webkit-box-shadow:1px 1px 3px #999 inset;
}
.bg-ddl span, .dropdownlist .toggle span {
	color:#333;
	font-size:16px;
	font-family:Conv_nhom_muarg;
	font-weight:700;
	text-transform:uppercase;
	line-height:41px;
	float:left;
	padding-left:16px;
}
.bg-ddl em {
	position:absolute;
	top:0;
	right:0;
	display:inline-block;
	width:41px;
	height:41px;
	border:1px solid #555;
	border-width:0 1px 1px 0;
	cursor:pointer;
}
.bg-ddl em.ico-ddl {
	background:#999 url(http://www.mjgroup.com.vn/images_v2/dl-pg.png) 0 -160px no-repeat;
}
.bg-ddl em.ico-date {
	background:#999 url(http://www.mjgroup.com.vn/images_v2/dl-pg.png) 0 -210px no-repeat;
}
.dropdownlist .toggle {
	border:1px solid #a4a4a4;
	width:99%;
	position:absolute;
	left:0;
	top:44px;
	background:#fff;
}
.dropdownlist .toggle-inner {
	width:90%;
}
.dropdownlist .toggle-inner span {
	display:inline-block;
	width:90%;
	clear:left
}
.form-date .bg-ddl span {
	font-size:16px;
	font-family:Conv_nhom_muarg;
	font-weight:400;
	font-style:italic;
}
.module-dl-left {
	float:left;
}
.dl-left-inner {
	background:none repeat scroll 0 0 #3378BC;
	border: 1px solid #0ab6db;
    border-radius: 10px 10px 10px 10px;
    clear: left;
    float: left;
    opacity: 0.8;
    padding: 10px 0;
    width: 200px;
}
.dl-left-inner em {
	display:inline-block;
	height:31px;
	width:9px;
	background:url(http://www.mjgroup.com.vn/images_v2/dl-all.png) no-repeat;
	position:absolute;
	top:0;
	right:17px;
}
.dl-left-inner a {
	color:#fff;
	font-size:15px;
	line-height:31px;
	display:block;
	text-indent:28px;
	width:100%;
	height:31px;
	position:relative;
	text-shadow:1px 1px 1px #555;
	font:tahoma;
} /* 24.2 */
.dl-left-inner a:hover {
	background:url(http://www.mjgroup.com.vn/images_v2/trans_5.png) repeat;
	color:#fff
}
.dl-left-inner a.active {
	background:url(http://www.mjgroup.com.vn/images_v2/trans_5.png) repeat;
	color:#fff
} /* 24.2 */
.module-dl-right {/**/
	margin-left:220px; /*float:right;*/
}/*27.2*/
.dl-thumnail {
	position:relative;
	clear:left;
	margin-top:11px;
	float:left; /*height:370px;*/
}/*27.2*/
.dl-tabs {
	position:absolute;
	top:-5px;
	left:0;
	z-index:1;
}
.dl-tabs span {
	color:#fff;
	text-transform:uppercase;
	text-shadow:0 1px 3px #555;
	font-size:27px;
	line-height:78px;
	width:112px;
	padding:0 8px;
	text-align:center;
	display:inline-block;
	height:92px;
	background:url(http://www.mjgroup.com.vn/images_v2/dl-tabs.png) 0 0 no-repeat;
	cursor:pointer;
	font-family:Conv_nhom_muasb;
}/*27.2*/
.dl-tabs .active {
	background:url(http://www.mjgroup.com.vn/images_v2/dl-tabs.png) 0 -100px no-repeat;
	cursor:default;
}
.dl-tabs a:hover span {
	background:url(http://www.mjgroup.com.vn/images_v2/dl-tabs.png) 0 -100px no-repeat;
	cursor:pointer;
} /*  24.2 */
.dl-tabs-cont {
	background:url(http://www.mjgroup.com.vn/images_v2/bg-travel.png) repeat; /*height:370px;*/
	border:1px solid #ddd;
	width:978px;
	clear:left;
	float:left;
}/*27.2*/
.travel-container {/*width:800px;float:right;*/
	padding-bottom:20px; /*overflow:hidden;*/
}/*27.2*/
.deals {/*width:800px; position:relative;*/
}/*27.2*/
.gr-deal {
	clear:left;
	float:left;
	position:relative;
	margin-left:-5px;/* display:none*/
	width:785px;
	display:inline-block
}/*27.2*/
.deal {
	width:384px;
	float:left; /*padding:34px 12px 0 8px;*/
	padding:9px 7px;
	font-size:0;
	background:url(images/bg-travel.png) repeat;
	display:inline-block;
	margin:0 4px;
	box-shadow:0 0 8px #555;
	-moz-box-shadow:0 0 8px #555;
	-webkit-box-shadow:0 0 8px #555;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-top:18px;
	position:relative;
	
}/*27.2*/
.deal-focus {/*float:right; */
	width:788px;/* padding-top:8px; padding:9px;*/
	margin:0;
}/*27.2*/
.deal a {
	display:block;
	color:#353535;
	font:tahoma;
}
.deal-focus .deal-img {
	height:300px;
}
.deal-img {
	position:relative;
	width:100%;
	height:237px;
}
.deal-img a {
	font-size:0;
	text-align:center;
}
.deal-time {
	position:absolute;
	right:0;
	top:-3px;
	padding:5px 0px 3px 12px;
	font-size:13px;
	color:#C00;
	font:tahoma;
	height:24px;
	line-height:24px;
	display:block;
	width:auto;
	z-index:1;
	overflow:hidden;
	width:100px;
	font-weight:bold;
}/*27.2*/
.deal-time em {
	display: inline-block;
	background:url(http://www.mjgroup.com.vn/images_v2/ico-time.png) no-repeat;
	width:24px;
	height:25px;
	vertical-align:middle;
	padding-right: 5px;
}
.deal-sale-Tour, .deal-sale {
	position:relative;
	background:url(http://www.mjgroup.com.vn/images_v2/bg-deal-sale.png) repeat;
	width:58px;
	height: 58px;
	text-align:center;
	line-height:58px;
	font-size:23px;
	color:#fff;
	font-family:Conv_nhom_muarg;
	z-index:10;
	float:right;
	display:inline-block;
	margin-top:179px;
	margin-right:0;
}
.deal-sale1 {
	position:relative;
	background-color:#cc0001;
	width:200px;
	height: 58px;
	text-align:center;
	line-height:58px;
	font-size:23px;
	color:#fff;
	font-family:Conv_nhom_muarg;
	z-index:10;
	float:right;
	display:block;
	margin-top:198px;
	margin-right:5px;
	padding:0 10px;
} /* 24.2 */
.deal-focus .deal-sale {/*bottom:43px;*/
	right:10px;
	width:82px;
	height:82px;
	line-height:82px;
	font-size:33px;
}/*27.2*/
.deal-sale em {
	font-family:Conv_nhom_mualg;
	font-size:19px;
}
.deal-focus .deal-sale em {
	font-size:27px;
}
.deal-title {
	padding: 8px 0 0 0;
}
.deal-rate ul {
	display:block;
	float:left;
	overflow:hidden;
	margin-top:5px;
}
.deal-rate ul li {
	display:block;
	float:left;
	background:url(http://www.mjgroup.com.vn/images_v2/ico-rate.png) no-repeat;
	width:16px;
	height:16px;
	margin-right: 1px;
}
.deal-rate span, .deal-rate a {
	font-size:16px;
	color:#333333;
	font-family:Conv_nhom_muarg;
	vertical-align:top;
	line-height:26px; /*padding-top:3px; */
	display:block;
	float:left;
}/*27.2*/
.deal-rate .luotmua{
	font-size:18px;
	color:#0656b4;
	font-family:Conv_nhom_muarg;
	vertical-align:top;
	line-height:26px;
	display:block;
	float:left;
	width:140px;
}
.deal-rate span.separation {
	padding:0 5px 0 5px;
}
.deal-rate-title {
	position:absolute;
	bottom:0;
	right:0;
	background:url(http://www.mjgroup.com.vn/images_v2/bg-title-travel.png) repeat; /*width:622px;*/
	height: 31px;
	overflow:hidden; /*padding:0 11px; */
	width:100%;
}/*27.2*/
.deal-rate-title ul {
	display:block;
	float:left;
	margin-top: 5px;
	padding-left:170px
}
.deal-rate-title ul li {
	display:block;
	float:left;
	background:url(http://www.mjgroup.com.vn/images_v2/ico-rate.png) no-repeat scroll 0 -20px;
	width: 26px;
	height: 26px;
}
.deal-rate-title a {
	font-size: 16px;
	color:#fff;
}
.deal-rate-title .deal-title {
	padding:0;
	float:right;
	text-align:right;
	line-height: 31px;
	padding-right:11px;
}/*27.2*/
.deal-thumnail {
	width:972px;
	padding:0 3px 0px 3px;
	line-height:1;
	font-size:0;
	overflow:hidden;/* height:363px;*/
	background:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	margin:0;
}/*27.2*/
.deal-thumnail .deal-img {
	height:auto;
	clear:left;
	float:left;
	height:370px;
	margin-top:3px;
}/*27.2*/
.gr-details {/*width:354px;*/
	width:auto;
	position:absolute;
	right:0;
	bottom:0;
}/*27.2*/
.deal-thumnail .deal-time {
	position:static;
	bottom:auto;
	float:left;
}/*27.2*/
.deal-thumnail .deal-rate-title {
	position:static;
	bottom:auto; /*width:100%; height:76px;*/
	height:auto;
	padding:0;/**/
	clear:left;
	float:left;
	min-width:350px;
	padding-bottom:12px;/**/
}/*27.2*/
.deal-thumnail .deal-rate-title .deal-title {
	float:left;
	text-align:left;
	padding-left:14px;
	min-width:325px;
	height:31px;
	font-size:27px;
	clear:left;
	margin-top:12px;
	overflow: hidden; /*padding:0 12px 12px 12px; */
}/*27.2*/
.deal-thumnail .deal-time {
	display:block;
}
.deal-thumnail .deal-rate-title ul {
	padding-left:10px;
}
.deal-thumnail .deal-sale {
	margin-top:164px;
	margin-right:0;
	font-size: 33px;
	height: 82px;
	line-height: 82px;
	right: 10px;
	width: 82px;
}/*27.2*/
.deal-img .deal-sale {
	visibility:visible
}
.deal-img .deal-sale-Tour {
	visibility:hidden
}
.deal-img a img {
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	border-radius: 10px 10px 10px 10px;
}
.deal-img a:hover {
	background:transparent
}
/*.deal-img a:hover .deal-sale{visibility:visible}*/
.deal-img a:hover .deal-sale-Tour {
	visibility:visible
}
.deal-img .deal-more {
	color:#ffcc00;
	font-size:16px;
	font-family:Conv_nhom_muarg;
	font-style:italic;
	position:absolute;
	top:0;
	right:32px;
	line-height:28px;
	padding-right:12px;
	height:auto;
}/*27.2*/
.deal-img .deal-more em {
	background:url(http://www.mjgroup.com.vn/images_v2/dl-more.png) no-repeat;
	width:7px;
	height:31px;
	display:inline-block;
	position:absolute;
	top:0;
	right:0;
}
/*27.2*/
.hotels .deals {/*background:url(http://www.mjgroup.com.vn/images_v2/bg-travel.png) repeat;overflow:hidden; width:800px;
	box-shadow:0 0 8px #555; -moz-box-shadow:0 0 8px #555; -webkit-box-shadow:0 0 8px #555;*/
}
.hotels .deal {/*background:none;
	box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
	border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;*/
}
.deal-img .deal-price {
	width:180px;
	height:auto;
	font-size:19px;
	line-height:30px;
	font-family:Conv_nhom_muarg;
	margin-top:175px;
	margin-right:0;
	right:auto;
	bottom:auto;
	border-bottom:1px solid #999
} /*  3.3 */
.deal-img .deal-price em {
	font-size:14px;
	padding-left:3px;
}
.deal-img .discount {
	width:180px;
	display:inline-block;
	font-size:19px;
	font:tahoma;
	position:absolute;
	right:0;
	bottom:0;
	text-align:center;
	color:#fff;
	float:right;
	line-height:30px;
	background:#cc0000;
	height:30px;
	z-index:2;
}
.discount em {
	text-decoration:inherit;
	font-size:14px;
	font-family:Conv_nhom_muarg;
}
.deal-focus .deal-price {
	margin-top:182px;
	line-height:38px;
	font-size:24px;
	height:40px;
}
.deal-focus .discount {
	bottom:38px;
	height:40px;
	line-height:38px;
	font-size:24px;
}
.deal-focus .zoom {
	width:788px;
	height:300px;
	background:url(http://www.mjgroup.com.vn/images_v2/zoom2.png) no-repeat;
}
.deal-thumnail .discount {
	bottom:92px;
	height:40px;
	line-height:38px;
	font-size:24px;
}
.deal-thumnail .deal-price {
	margin-top:198px;
	line-height:38px;
	font-size:24px;
	height:40px;
}
.zoom {
	width:384px;
	height:237px;
	background:url(http://www.mjgroup.com.vn/images_v2/zoom-2.png) no-repeat;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	visibility:hidden
}
.deal-img a:hover .zoom {
	visibility:visible
}
.gr-deal-2 {
	clear:left;
	float:left
}
.gr-deal-2 .deal-price {
	width:136px;
}
.gr-deal-2 .discount {
	width:136px;
}
.gr-deal-3 {
	clear:left;
	float:left;
}
.gr-deal-3 .deal {
	width:239px;
	padding:7px;
}
.gr-deal-3 .deal-img {
	height:159px;
}
.gr-deal-3 .deal-time {
	width:65px;
}
.gr-deal-3 .deal-time em {
	background:none;
	display:none;
}
.gr-deal-3 .deal-price {
	width:136px;
}
.gr-deal-3 .discount {
	width:136px;
	border-radius: 10px 10px 10px 10px;
}
.gr-deal-3 .deal-price {
	margin-top:95px;
}
.gr-deal-3 .zoom {
	width:254px;
	height:156px;
	background:url(http://www.mjgroup.com.vn/images_v2/zoom-3.png) no-repeat;
}
.gr-deal-3 .deal-title {
	border-bottom: 2px solid #317ac4;
    font-size: 15px;
    height: 23px;
    margin: 8px 0;
    overflow: hidden;
	text-align:center;
} /*  3.2 */
.gr-deal-3 ..deal-rate a {
	font-size:15px;
}
.gr-deal-3 .deal-sale {
	margin-top:96px;
}
.deals {
	float:left;
}
.deal {
	margin-top:0;
	margin-bottom:18px
}
.gr-deal-2 .deal a.deal-title {
	height:25px;
	overflow:hidden
} /* 3.2 */
/* 24.2 */
.deal deal-sale {
	position:absolute;
	bottom:172px;
	width:150px;
	padding:0 10px;
	right:5px;
}
.slideCity {
	position:relative;
	overflow:hidden;
	width:980px;
	height:378px;
}
.slideCity .itemTopDeal {
	clear:both;
	position:absolute;
	width:10000px;
}
#slideShow .items {
	width: 10000px;
	position: absolute;
	clear: both;
	margin: 0;
	padding: 0;
}
/*  13.3 */
.deal-img .tylegiam {
	position:absolute;
	right:160px;
	bottom:0;
	background:#fff;
	color:#CC0000;
	font-weight:700;
	height:30px;
	width:60px;
	display:inline-block;
	font-size:20px;
	font-family:Conv_nhom_muasb;
	text-align:center;
	line-height:30px;
}
.discount_hotel {
	width:160px;
	display:inline-block;
	font-size:19px;
	font-family:Conv_nhom_muasb;
	position:absolute;
	right:0;
	bottom:0;
	text-align:center;
	color:#fff;
	float:right;
	line-height:30px;
	background:#cc0000;
	height:30px;
	z-index:2;
}
.tylegiam em {
	text-decoration:inherit;
	font-size:19px;
	font-family:Conv_nhom_muarg;
}
.deal-thumnail .thumbdisc {
	bottom:116px;
	width:160px;
	height:30px;
	font-size:20px;
	line-height:30px
}
.deal-focus .tylegiam, .deal-thumnail .tylegiam {
	font-size:20px;
	line-height:30px
}
.deal-thumnail .tylegiam {
	bottom:116px;
}
.deal-focus .tylegiam {
	bottom:31px;
}
.deal-focus .hotelsDisc {
	bottom:31px;
	height:30px;
	font-size:20px;
	line-height:30px;
	width:160px
}
.gr-deal-2 .tylegiam {
	height:30px;
	right:136px;
}
/* end 13.3 */
/* 21.3 */
.giaovoucher {
	background: url("http://www.mjgroup.com.vn/images_v2/icon-giao-voucher.png") no-repeat scroll 0 0 transparent;
	bottom: 35px;
	display: block;
	height: 49px;
	left: 7px;
	position: absolute;
	width: 63px;
	z-index: 2;
}
.deal-thumnail .giaovoucher {
	bottom:0;
}
/* End 21.3 */
.deal-rate {
	position:relative;
}
.giamgia {
	width:45px;
	height:46px;
	background:url(images/hot.png) center no-repeat;
    position: absolute;
	z-index:150;
	top:-10px;		
	left:-8px;
	padding-left:6px;
	padding-bottom:10px;
}
.giamgia span {
    color: #FFFFFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 52px;
    text-shadow: none;
}