<script type="text/javascript">
    $(document).ready(function () {
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    });
</script>
<?php if($medias){ ?>
    <div id="slider" class="nivoSlider">
        <?php foreach($medias as $key => $media) {?>
            <a href="<?php echo $media['link'] ?>"><img src="<?php echo $media['imagethumbnail'] ?>" /></a>
        <?php }?>
    </div>
<?php } ?>