@charset "utf-8";
/* CSS Document */
.ben-sanpham-title {
	color: #A6CE39;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
}
.ben-sanpham-title-catalog {
	color: #A6CE39;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
.ben-sanpham-title-tintuc {
	color: #A6CE39;
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: 15px;
}
.ben-sanpham-bg {
	border:1px solid #b0b0b2;
	padding:20px;
	margin-left:15px;
	margin-bottom:15px;
}

.ben-sanpham-bg1 {
	border:1px solid #b0b0b2;
	padding:20px;
	/*margin-right:12px;*/
	margin-bottom:15px;
}

.ben-sanpham-bg-catalog {
	margin-left:10px;
	margin-bottom:10px;
	border:1px solid #b0b0b2;
	padding:15px;
	text-align:center;
}
.ben-sanpham-bg2 {
	border:1px solid #b0b0b2;
	padding:20px;
	margin-left:24px;
	margin-bottom:20px;
}
.ben-sanpham-bg2-catalog {
	border:1px solid #b0b0b2;
	padding:15px;
	margin-left:15px;
	margin-bottom:20px;
	text-align:center;
}
.ben-line-tintuc {
}
.ben-tt {
	margin-left:18px;
	font-size:24px;
	color:#00FFEA;
}
.ben-tt2 {
	border:1px solid #b0b0b2;
	padding:15px;
	/*width:455px;*/
	margin-right:18px;
	margin-bottom:32px;
	/*margin-left:26px;
	margin-bottom:26px;*/
}
.ben-section-tt {
	width:202px;
	margin-left:20px;
}
.ben-section-title-tt {
	font-size:1.7em;
	color:#72a731;
}
.ben-section-content-tt {
	font-size:1.4em;
	color:#000;
}
.ben-xt-tt {
	color: #72A731;
    font-weight: bold;
   /* margin-left: 124px;*/
    margin-top: 10px;
}
.ben-xt-tt2 {
	color: #3a7324;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 10px;
	padding-bottom: 10px;
}
.ben-content-hoidap {
	width:715px;
	padding:10px;
	border: 1px solid #BDBDBD;
	 margin-left: 15px;
}
.ben-content-ctsp {
	width:735px;
	border: 1px solid #BDBDBD;
	margin-right: 15px;
}
.ben-sidebar-ctsp {
	border: 1px solid #BDBDBD;
    padding: 8px;
    text-align: center;
    width: 230px;
}
.ben-sidebar-hoidap {
	border: 1px solid #BDBDBD;
    padding: 8px;
    text-align: left;
    width: 230px;
}
.ben-title-ctsp {
	color: #72A731;
    font-size: 3.3em;
    text-align: center;
}
.ben-section-content-ctsp {
	font-size:1.5em;
	color:#000;
	padding:15px;
}
.ben-title-sidebar {
	border-bottom: 1px solid;
    color: #5DA039;
    font-size: 2.3em;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
    width: 220px;
	margin-bottom: 15px;
}
.ben-section-title-event {
	color: #72A731;
    font-size: 1.7em;
    margin-left: 5px;
    text-align: left;
	margin-top:5px;
}
.line-event {
	padding-bottom:20px;
}

.ben-product-list{
	width:1013px;	
}

ul#hoidap{
	list-style-type:none;	
}

#hoidap li ul{
	list-style-type:none;
	font-size:14px;
	font-weight:bold;	
}

table.product-cell th,td{
	text-align:center;	
}

.title-related-product{
	color:#74A542;
	font-weight:bold;
	font-size:18px;	
}

.price-new{
	background:#E4F1D5;
	width:200px;
	color:#FF3A3A;
	padding:5px;
	font-size:14px;
	font-weight:bold;	
}

table#register-form th, td{
	text-align:left;	
}

.table-register{
	padding:5px;	
}

.dieukhoan{
	border:1px solid #333;
	width:100px;
	height:5px;
	overflow:auto;
	height:85px;
	width:228px;
	text-align:justify;
	border-radius:5px;
	padding:5px;
	margin-bottom:5px;
}

.ben-post-infor{
	padding:10px;
	border-radius:5px;	
}