.product
{
	width:172px;
	height:234px;
	border:thin solid #CCC;
	border-radius:5px;
	margin:4px;
}
.product table
{
	width:100%;
	height:100%;	
}
.product td
{
	vertical-align:middle;
}

.product-collection
{
	width:354px;
	height:400px;
	border:thin solid #CCC;
	border-radius:5px;
	margin:2px;
}

.product-collection table
{
	width:100%;
	height:100%;	
}
.product-collection td
{
	vertical-align:middle;
}

.product-left
{
		
}
.product-right
{
	width:415px;	
}
.product-mainimage
{
	text-align:center;
}
.product-mainimage table
{
	height:100%;	
}
#product-preview
{
	text-align:center;	
}
.product-subimage
{
	text-align:center;
	margin-top:5px;
}


#ben-icon-sale-detail
{
	margin-top:220px;	
}

#ben-icon-new-detail
{
	margin-left:200px;
	margin-top:212px;
}
#ben-galary td
{
	padding:1px;	
}

#ben-scroll
{
	width:auto;
}
.ben-khuyenmai a
{
	color:#F00;	
}
#listprice
{
	margin:10px 0;	
}
#listprice td,th
{
	border:thin solid #000;
	padding:3px;
}
#listprice th
{
	background:#CCC;	
}

.ben-icon
{
	/*position:absolute;*/
}

#ben-icon-sale
{
	margin-top:152px;	
}

#ben-icon-new
{
	margin-left:128px;
	margin-top:140px;
}

.ben-icon-collection
{
	position:absolute;
}

#ben-icon-collection-sale
{
	margin-top:275px;	
}

#ben-icon-collection-new
{
	margin-left:310px;
	margin-top:266px;
}
.thanh-image-detail{
	margin-right:20px;
}
.summary-sp{
	width:530px;
}
.summary-detail-sp{
	margin-bottom:20px;
}