@charset "utf-8";
/* CSS Document */
.ben-form-dk {
	border:1px solid #cccccc;
	width:620px;
	border-radius:10px;
	padding:15px;
}
.ben-title-form-dk {
	color: #A7CE3D;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 202px;
}
.ben-line-dk {
	margin:15px 30px;
}
.ben-form-top {
	margin-left:10px;
}
.ben-content-form {
	background:url(../image/bg-content-form.png) repeat-x;
	border-radius: 15px 15px 15px 15px;
	padding:10px;
}
.ben-content-form-top {
	background:url(../image/line-content-form.png) repeat-x;
	border-radius: 15px 15px 15px 15px;
    height: 78px;
}
.ben-title-content-form {
	color: #FFFFFF;
    font-size: 2.5em;
    font-weight: bold;
	padding:18px;
}
input.ben-text-search {
    background:url(../image/input-form-dk.png) no-repeat;
    margin: 10px 0 0.2em 10px;
    padding: 16px 8px;
    width: 396px;

}
.input.ben-select, textarea, select {
	height: 28px;
    margin-left: 11px;
    width: 192px;
}
.ben-btn-form {
	margin-left: 10px;
    margin-right: 10px;
	padding-top: 15px;
}
.ben-ttbb {
	color: #000000;
    font-weight: bold;
    margin: 10px;
}