/*** RESET ***/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, select {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}

table {border-collapse: collapse; border-spacing: 0;}

caption, th, td {text-align: left; font-weight: normal;}

table, td, th {vertical-align: middle;padding:3px;}

a img {border: none;}

:focus {outline: 0;}

























/* 

   GENERAL 

------------------------------------------------------------------- */

html {

	height: 100%;

	padding-bottom: 1px; /* force scrollbars */

}



body {
	
	color: #444;

	font: normal 75% Arial, Tahoma, Helvetica, sans-serif;

	line-height: 1.5;

}













#ben-body

{

	width:960px;

	padding:8px;

	background:#0A84C1;

	margin:0 auto;	

}









/* 

   TYPING 

------------------------------------------------------------------- */

/* Headings */

h1,h2,h3,h4,h5,h6 {

	

	font-weight: normal;

	line-height: 1;

	margin: 0.3em 0;

}

h4,h5,h6 {font-weight: bold;}

h1 {font-size: 1.8em; font-weight:700}

h2 {font-size: 1.8em;}

h3 {font-size: 1.3em;}

h4 {font-size: 1.25em;}

h5 {font-size: 1em;}

h6 {font-size: 1em;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin: 0;}



/* Links */

a {


	text-decoration: none;

	cursor:pointer;

}

a:focus,a:hover {color: #039; text-decoration:none; cursor:pointer;}



a.ben-other {

	color: #999;

}

a.ben-other:hover {}





/* Paragraph */

p {}



object { vertical-align:top; outline:none;border:0}





















/* 

   COMMON TYPING CLASS 

------------------------------------------------------------------- */

.ben-text-left {text-align: left;}

.ben-text-right {text-align: right;}

.ben-text-center {text-align: center;}

.ben-text-separator {padding: 0 5px;}



.ben-small {font-size: 0.9em;}

.ben-smaller {font-size: 0.8em;}

.ben-smallest {font-size: 0.7em;}



.ben-large {font-size: 1.15em;}

.ben-larger {font-size: 1.25em;}

.ben-largest {font-size: 1.35em;}



.ben-hidden {display: none;}



.ben-other

{

	margin:5px 15px;

	font-size:1.2em;

}



.ben-other a {}



.ben-error, .ben-notice, .ben-success{

	border: 1px solid #DDD;

	margin-bottom: 1em;

	padding: 0.6em 0.8em;

	display:none;

}



.ben-error {background: #FBE3E4; color: #8A1F11; border-color: #FBC2C4;}

.ben-error a {color: #8A1F11;}



.ben-notice {background: #FFF6BF; color: #514721; border-color: #FFD324;}

.ben-notice a {color: #514721;}



.ben-success {background: #E6EFC2; color: #264409; border-color: #C6D880;}

.ben-success a {color: #264409;}





















/* 

   COMMON ALIGNMENT CLASS 

------------------------------------------------------------------- */

/* General */

.ben-center,.ben-aligncenter {

	display: block;

	margin-left: auto;

	margin-right: auto;

}



/* Floats */   

.ben-left,.ben-alignleft {float: left;}

.ben-right,.ben-alignright {float: right;}

.ben-center{margin:0 auto}

.clear,.clearer {clear: both;}

.clearer {

	display: block;

	font-size: 0;

	line-height: 0;

	height: 0;

}



/* Images */

img.ben-bordered,img.ben-alignleft,img.ben-alignright,img.ben-aligncenter {

	background-color: #FFF;

	border: 1px solid #DDD;

	padding: 3px;

}

img.ben-alignleft, img.ben-left {margin: 0 10px 10px 0;}

img.ben-alignright, img.ben-right {margin: 0 0 1em 1.5em;}





/* 

   Separators 

------------------------------------------------------------------- */

.ben-content-separator, .ben-item-separator, .ben-hline {

	background: #0b85e0;

	clear: both;

	color: #FFE;

	display: block;

	font-size: 0;

	line-height: 0;

	height: 1px;	

}

.ben-content-separator {margin: 32px 0;}

.ben-item-separator {margin-bottom: 15px;}

.ben-hline {margin:7px 0;}















/* 

   LIST - TABLE

------------------------------------------------------------------- */

/* Default Lists */

li ul, li ol {margin-left: 1.5em;}

ul, ol {margin: 0 0 1.5em 2.5em;}

ul {}

ol {

	list-style-type: decimal;

	margin-left: 1.9em;

}



dl {margin: 0 0 1.5em 0;}

dl dt {font-weight: bold;}

dd {margin-left: 1.5em;}





/* Special lists */

ul.ben-blank-list li, ul.ben-list li, ul.ben-tab-list li {

	list-style: none;

	margin-top: 0;

}





ul.ben-blank-list {margin: 0;} /* DANH SACH KHONG CO CSS */



ul.ben-list {margin-left: 0;} /* DANH SACH DANG VERTICAL */

ul.ben-list li {

	border-top: 1px solid #EEE;

	list-style: none;

	padding: 4px 0;

}

ul.ben-list li:first-child {border-top: none;}

ul.ben-list li .ben-right {color: #999;}



/* DANH SACH HORIZONTAL */

ul.ben-tab-list {

	display: inline;

	margin: 0;

} 

ul.ben-tab-list li {float: left;}





/* Navigation */

.ben-navigation a {

	color: #888;

	text-decoration: none;

}

.ben-navigation a:hover {color: #002;}

.ben-navigation li.current-tab a {color: #222;}







/* Tables */

table { width: 100%;}

th {font-weight: bold;}

thead th {text-align:center}

th,td,caption {/*padding: 5px 20px;*/}

tr.even td {background: #F2F6FA;}

tfoot {font-style:normal}

caption {background: #EEE;}



table.ben-table {

	border: 1px solid #CCB;

	margin-bottom: 2em;

	width: 100%;

}

table.ben-table th {

	background: #F0F0F0;

	border: 1px solid #DDD;

	color: #555;

	text-align: center;

}

table.ben-table tr {border-bottom: 1px solid #DDD;}

table.ben-table td, table th {text-align:center}

table.ben-table td {

	background: #F6F6F6;

	border: 1px solid #DDD;

	padding:2px;

}

table.ben-table tr.even td {background: #FCFCFC;}



table.ben-form td{padding:2px;}

table.ben-form tr{vertical-align:middle}

























/* 

   FORM

------------------------------------------------------------------- */

.label {

	cursor: pointer;

	font-weight: bold;

	border-left-style: solid;

	border-left-width: 4px;

	margin-bottom: 0.2em;

	padding-left: 10px;

}

label.checkbox, label.radio {font-weight: normal;}



legend {

	font-weight: bold;

	font-size: 1.2em;

}

textarea {overflow: auto;}



input.ben-textbox, textarea, select {

	background: #FCFCFC;

	border: 1px solid #ccc;

	margin: 0.2em 0;

	padding: 4px 5px;



}



textarea

{

	width:99%;

	height:120px;

}

select{
	width:100%;
}



input.ben-textbox:focus, textarea:focus, select:focus {background: #FFFFF5;}



input.ben-button {

	margin: 5px;
	padding: 5px 10px;
	color: #363636;
	font-family: Arial;
	font-weight: bold;
	background: transparent url(../image/bg-button-fcn.gif) repeat-x;
	border: 1px solid #C8C8C8;
	border-radius: 3px;
	text-decoration: none;

}

input.ben-button:hover{
	color: white;
	background: #039;	
}


a.ben-button{

	background: #DDD;

	border: 1px outset #AAA;

	padding: 4px 5px;

	color:#000000 !important;

	font-size:1em;

	text-decoration:none;

}

input.ben-button:active {border-style: inset;}

























/* *************************************************** */

/* *************************************************** */

/* *************************************************** */

/* *************************************************** */

/* *************************************************** */

/* *************************************************** */









/* 

   COMMON LAYOUT

------------------------------------------------------------------- */

/* Wrapper */

#ben-main {

	margin: 0 auto;

	width: 1060px;

}











/*---------- HEADER AREA ------------*/

/* Header */

#ben-header {padding-top: 0px;}



/* Optional Top */

#ben-top{

	margin: 0 auto;

	width: 1060px;

	padding-bottom: 0px;

}

#header-image

{

	position:absolute;

	margin-left:663px;

	margin-top:-20px;

}

#header-menu

{

	position:absolute;	

	margin-left:620px;

}

#header-menu table

{

	margin:4px;

}

#header-menu td

{

	padding:1px;	

	vertical-align:top;

}

#header-menu a

{

	color:#fff;

	margin-right:10px;

}

#ben-top-header

{

	height:95px;	

}

#ben-top-header-hotline

{

	color:#3970d5;

	font-weight:bold;

	margin-top:65px;

}

/* Logo */

#ben-logo 

{	

	position:absolute;

	margin-top:25px;

	margin-left:20px;	

}

#ben-logo img {}



#ben-site-title{padding-top:30px}



/* Splash */

#ben-splash {padding-top: 32px;}







/* Main Menu */

.ben-navigation

{

	/*background:url(../image/bgmenumain.png) repeat-x;*/

	height:35px;

	background:#1D364B;	

	border-radius:5px;

	border: 1px solid #00A0C3;

}

.ben-char

{

	width:1px;

	display:none;	

}

/* Main Level 1 */

#ben-main-nav, #ben-main-nav ul{

margin:0;

padding:0;

list-style-type:none;

list-style-position:outside;

position:relative;

line-height:1.5em; 

z-index:100;

border-radius:5px;

}



#ben-main-nav a{

display:block;

padding:7px 25.8px;

color:#fff;

text-decoration:none;

height:21px;

font-size:14px;

font-weight:bold;

border-radius:5px;

}



#ben-main-nav a:hover{

/*background:url(../image/bgmenumaincurent.png) repeat-x;*/

background:#0A84C1;

}

#ben-main-nav a.current-tab:hover{
	background:#0A84C1;
	color:white;
}

#ben-main-nav li{

float:left;

position:relative;



}



#ben-main-nav a.current-tab{

	background:url(../image/bgmenumaincurent.png) repeat-x;

	background:#e1e1e1;

	color:#000;

}



#ben-main-nav ul {

position:absolute;

display:none;

width:12em;

top:35px;

}



#ben-main-nav ul li{

margin-left:0px;

}



#ben-main-nav li ul a{

width:12em;

height:auto;

float:left;

}



#ben-main-nav ul ul{

top:auto;

}	



#ben-main-nav li ul ul {

left:12em;

margin:0px 0 0 10px;

}



#ben-main-nav li:hover ul ul, #ben-main-nav li:hover ul ul ul, #ben-main-nav li:hover ul ul ul ul{

display:none;

}

#ben-main-nav li:hover ul, #ben-main-nav li li:hover ul, #ben-main-nav li li li:hover ul, #ben-main-nav li li li li:hover ul{

display:block;

}





/* Subnav Leve 2 */

#ben-sub-nav {

	border-bottom: 1px solid #DDD;

	padding: 12px 5px;

}

#ben-sub-nav a {

	font-size: 1.2em;

	text-decoration: none;

}

#ben-sub-nav li {margin: 0 1em;}

#ben-sub-nav li.current-tab a {font-weight: bold;}











/*---------- BODY AREA ------------*/

#ben-content {margin: 0px auto; width:1060px}

.ben-wrapper{
	margin-top:10px;
}

#ben-maincontent{}

.ben-two-columns #ben-maincontent{
	width:780px
}

.ben-three-columns #ben-maincontent{width:635px;}

.ben-three-columns-right #ben-maincontent{width:520px; margin-right:20px}





/* Sidebar */

#ben-sidebar{} /*Div chua 2 sidebar*/

.ben-sidebar{
	margin-right: 20px;
	width:260px;
}



#ben-sitebar-fserchtour

{

	background:#0142b7;

	color:#FFFFFF;	

}

#ben-sitebar-fserchtour label

{

	font-weight:bold;	

}



#ben-sitebar-banner

{

	background:#c5c5c5;

	

}

#ben-sitebar-banner .ben-section-title

{

	color:#656565;

}





#ben-sitebar-khachsan p

{

	font-size:11px;	

}

/* Columns */

.ben-col2 {width: 46%;}

.ben-col2.ben-other{width:48%}

.ben-col3, .col3-mid {width: 31%;}

.ben-col3-mid {margin-left: 3%;}





/* Posts - News list */

.ben-post {margin: 10px;}



.ben-post img.ben-left{margin-bottom:1em}



.ben-post-title {}

.ben-post-title a {}



.ben-post-date {color: #777; margin-bottom:0.6em}

.ben-post-date a {color: #444;}



.ben-post-body {font-size: 1.1em;}

.ben-post-body a {color: #039;}

.ben-post-body a:hover {color: #039;}



.ben-post-pagination {

	color: #777;

	padding: 10px 0;

}

.ben-post-pagination-top {

	border-bottom: 1px solid #DDD;

	margin-bottom: 24px;

}

.ben-post-pagination-bottom {

	border-top: 1px solid #DDD;

	margin-top: 24px;

}







/* Sections */

.ben-section {border:none solid #0A84C1;}

.ben-sidebar .ben-section{}

#ben-maincontent .ben-section{}



.ben-section-content{}

.ben-sidebar .ben-section-content{

	

}

#ben-maincontent .ben-section-content

{

	

}



.ben-section-title {

	color:#004F92;

	font-size:1.2em;

	font-weight:700;

	

	padding: 4px 14px;

	/*background:url(../image/bgsetiontitle.png) repeat-x;*/

	border-bottom:3px solid #0A84C1;

	

}

.ben-sidebar .ben-section-title {margin-bottom: 0px;}

#ben-maincontent .ben-section-title {

	

	

	

}















/*---------- FOOTER AREA ------------*/

#ben-footer {

	color: #fff;

	padding: 16px 0px;

	margin:0 auto;	

}

#ben-footer table {

	background: -moz-radial-gradient(center, ellipse cover,  rgba(5,171,224,0.6) 0%, rgba(5,171,224,0.6) 100%); /* FF3.6+ */

background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(5,171,224,0.6)), color-stop(100%,rgba(5,171,224,0.6))); /* Chrome,Safari4+ */

background: -webkit-radial-gradient(center, ellipse cover,  rgba(5,171,224,0.6) 0%,rgba(5,171,224,0.6) 100%); /* Chrome10+,Safari5.1+ */

background: -o-radial-gradient(center, ellipse cover,  rgba(5,171,224,0.6) 0%,rgba(5,171,224,0.6) 100%); /* Opera 12+ */

background: -ms-radial-gradient(center, ellipse cover,  rgba(5,171,224,0.6) 0%,rgba(5,171,224,0.6) 100%); /* IE10+ */

background: radial-gradient(center, ellipse cover,  rgba(5,171,224,0.6) 0%,rgba(5,171,224,0.6) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9905abe0', endColorstr='#9905abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

width:1060px;

	 

}

#ben-footer a{

	color: #fff;

}

#ben-footer-left 

{

	width:100% ;

	text-align:center;

	font-size:1em;

}

#ben-footer-right {

	width: 459px;

	text-align: right;

}

#ben-footer p {margin-bottom: 0.4em;}

#ben-footer .text-separator {

	padding: 0 3px;

	color: #BBB;

}

#ben-footer a:hover {color: #000;}

.ben-page

{

	margin-top:5px;

	text-align:center;	

}

.results

{

	text-align:center;	

}



.ben-page a
{
	border:thin solid #CCC;
	padding:3px;
	margin:3px;
	background: transparent url(../image/bg-button-fcn.gif) repeat-x;
}

.ben-answer

{

	background:#F00;

}



ul#menu, ul#menu ul {

  list-style-type:none;

  margin: 0;

  padding: 0;

  width: 100%;

}



ul#menu a {

  /*display: block;*/

  text-decoration: none;

  padding: 0.2em;	

  background:transparent;

}



ul#menu div.collape{

	cursor:pointer;

}



ul#menu li {

  margin-top: 1px;

}



ul#menu li div {

  background: #666666;

  color: #FFF;	

  padding: 0.4em;

}



ul#menu li div a{

  color: #FFF;	

}



ul#menu li div a{

  color: #FFF;	

}



ul#menu li div:hover{

  background: #000;

  color: #FFF;	

}



ul#menu li ul li div {

  background: #CCCCCC;

  color: #000;

  padding-left: 20px;

}



ul#menu li ul li a {

  color: #FFF;

}



ul#menu li ul li ul li div {

  background: #F2F2F2;

  color: #000;

  padding-left: 30px;

}



ul#menu li ul li ul li div a {

  color: #000;

}



ul#menu li ul li div:hover {

  background: #aaa;

  border-left: 5px #000 solid;

}

.number

{

	text-align:right !important;	

}

.container

{

	margin-bottom:10px;	

}



.ben-editor td

{

	border:thin solid;

	padding:5px;

}

.ben-search

{

	width:224px;	

}

/* *************************************************** */

/* *************************************************** */

/* *************************************************** */

/* *************************************************** */

/* *************************************************** */

/* *************************************************** */



#go-tour-sileshow

{

	margin-bottom:20px;	

}

#go-tour-item

{

	height:192px;

	background:url(../image/bgtourlistitem.png) repeat-x;	

}



.go-touritem

{

	width:170px;

	font-size:11px;

	padding:10px 5px;	

}



#go-listtour

{

	background:#FFFFFF;	

}





.go-image

{

	margin:5px;	

	width:300px;

}

.go-icon

{

	margin:5px 4px;	

}



.go-information

{

	margin:5px;

	width:600px;	

	padding:10px;

}



.go-formdatphong

{

	padding:5px;

	padding-left:20px;	

	background:#fcac00;

	color:#FFF;

}

#go-content h4

{

}

.go-content h4

{

	margin:5px 0;

	color:#fff;

}

.go-content

{

	padding:10px;

	background:#004F92;

	color:#fff;

}

.go-main-content

{

	padding:10px;

}

.go-custumer-from

{

	color:#fff;	

	width:600px;

}

#go-fcustomer

{

	

	

}

.go-khachsan-infor

{

	width:330px;

}

#go-listorder

{

	padding:5px;	

}

.go-listorder td

{

	border:#000 thin solid;

	padding:5px;	

}

.go-listorder th

{

	background:#CCCCCC;

	border:#000 thin solid;

	padding:5px;

}



.go-order-result

{

	width:420px;

	background:#CCC;

	margin-bottom:1px;	

}



#ben-sitebar-khachsan-detail

{

	background:#fdefe3;

	padding:5px;	

}



.ben-content-img

{

	/*margin:10px;	*/

}



#ben-content-header

{

	color:#000;	

	padding:15px 0 0 0;;

}

#ben-content-header-search

{

	margin-left:0px;

}

#ben-content-header-khuyenmai

{

	margin-right:0px;	

}

#ben-content-footer

{

	

}



#ben-content-footer img

{

	margin:5px;	

}



#go-search-khachsan

{	

}

#go-search-khachsan a

{	

	color:#444;

}



#ben-content-header-search

{

	

}

.ben-link

{

	text-decoration:underline;	

}

#go-search-khachsan-trongnuoc

{

	

	width:430px;

	height:257px;

	position:absolute;

	color: #FFF;

}

#go-search-khachsan-nuocngoai

{

	background:url(../image/bg-khachsan-nuocngoai-search.png) no-repeat;

	width:377px;

	

	position:absolute;

}

#go-search-khachsan-title

{

	color:#000;

	font-size:1.5em;

	font-style:italic;

	position:absolute;

	font-weight:700;

	margin-top: 5px;

}



.go-tab-search-title

{

	font-weight:bold;

	font-style:italic;

	margin:8px 0;

}
.search-active a{
	color:white !important;
}
#go-tab-search-title-trongnuoc

{

	/*background:url(../image/bg-khachsansearch_body.png) repeat;*/

	margin:0 0 0 173px;

	position:absolute;

	padding:8px 0;

	width:105px;

	text-align:center;

	z-index:2;

	/*border:1px solid #0AB6DB;*/

	border-bottom:none;

}

#go-tab-search-title-nuocngoai

{

	/*background:url(../image/bg-khachsansearch_body.png) repeat;*/

	margin:0 0 0 273px;

	position:absolute;

	padding:8px 0;

	width:105px;

	text-align:center;

	z-index:2;

	/*border:1px solid #0AB6DB;*/

	border-bottom:none;

	

}
.search-active{
	background: url(../image/bg-khachsansearch_body.png) repeat;
	border: 1px solid #0AB6DB;
}
.go-search-khachsan-form

{

	background:url(../image/bg-khachsansearch_body.png) repeat;

	padding:10px;

	margin-top:34px;

	border: 1px solid #0AB6DB;

}

.go-search-khachsan-form-tinhthanh

{

	width:100%;	

}

.go-ngay-datphong

{

	padding:10px;	

	font-size:1.3em;

	font-weight:bold;

}

#btnSearchTour

{

	background:url(../image/bg-button-search2.png) no-repeat;

	color:#4a74a6;

	cursor:pointer;

	font-weight:bold;

	font-size:1.2em;

	height:35px;

	width:129px;

}

.go-search-khachsan-form-gia

{

	width:115px;	

}

.go-search-khachsan

{

	margin:4px;

}

.go-search-khachsan td

{

	padding:1px;

}

.go-search-khachsan-form-date

{

	width:130px

}



.go-tieuchuan

{

	font-size:1.2em;

	font-weight:bold;

}

.go-diachi

{

	color:#666;	

	font-style:italic;

}

.go-giatu

{

	color:#ec9d04;

	font-size:1.2em;	

}



.go-khachsan-content

{

	width:680px;	

}

.go-khachsan-sitebar

{

	width:260px;	

}

.go-sitebar-section

{

	margin-bottom:5px;

}

.go-sitebar-section-content

{

	padding:5px;	

}

.go-sitebar-header-khuyenmai

{

	background:#FF0;

	text-align:center;

	padding:10px 0;	

	border-bottom:thin solid #000;

}

.banggiashow

{

	padding:5px;	

}

.banggiashow th

{

	background:#CCC;	

}

.banggiashow td,th

{

	border:thin solid #ccc;	

}

.banggiashow input

{

	width:100px;

}

.go-banggia-title

{

	/*background:#CCC;

	width:305px;

	padding:5px;*/	

	border-bottom:1px solid blue;



}

#go-tab-show

{

	height:251px;

	padding:5px;	

}

.go-tab-content

{

	height:200px;

	overflow:auto;	

}

.go-order-button

{

	text-align:center;

	margin:5px;

}

#go-booking-from

{

	width:300px;

	margin:10px auto;

}

.go-form

{

	padding:10px;

	margin:10px;

	border:thin solid #000;

	border-radius:10px;

}

#ben-banner

{

    height: 247px;

    overflow: hidden;

    width: 587px;

	border-radius:5px;	

}



#banggia table{margin-bottom:10px}



.go-banggia-title h4{font-weight:normal}



table.ben-form{width:445px}



.ben-button-xemgia{

	width:101px;

	height:23px;

	background:url(../image/xemgia.png) top left no-repeat;	

}



.ben-button-datphong{

	width:101px;

	height:23px;

	background:url(../image/datphong.png) top left no-repeat;	

}



.ben-button-dangnhap{

	width:105px;

	height:26px;

	background:url(../image/nutdangnhap.png) top left no-repeat;	

}



.ben-button-dangky{

	width:105px;

	height:26px;

	background:url(../image/nutdangky.png) top left no-repeat;	

}



.hotel-item{border-bottom:1px dashed #CCC; margin:5px 0px; padding:10px 0px}

.hotel-item table{

	width:100%;

}

/*********************************TLKHOA******************************************/

table.data-table th a{

    color: #0A84C1;

    cursor: pointer;

    text-decoration: none;

}

table.data-table th:last-child a{

    color: red;

    cursor: pointer;

    text-decoration: none;

}

table.data-table th a:hover{

    color: #900;

    cursor: pointer;

    text-decoration: none;

}

.title-tour{

	color: red;

    font-size: 1.7em;

}

table.data-table td {

    background: #F8F8F8;

}

.title-detail{

	color:#036;

    font-size: 1.2em;

    font-weight: bold;

}

table.data-detail{

   border:1px solid #CCC;

}

table.data-banggia

{

	border-left:1px solid #CCC;

	border-right:1px solid #CCC;

}

table.data-banggia td

{

	text-align:center;	

}

table.data-detail th{

    color:#004F92;

	text-align:left;

	font-size:1.1em;

	background:#F8F8F8;

	border:1px solid #CCC;

}

table.data-detail td{

    text-align:center;

}

.th-other{

	background:#F8F8F8;

}

.td-price{

	color:#004F92;

}

.td-price1{

	font-size:2em;

	font-weight:bold;

}

.tour-title{

	font-weight:bold;

}

input.ben-texttour{

	background: #FCFCFC;

	border: 1px solid #ccc;

	margin: 0;

	padding: 4px 5px;

	width:370px;

}

table.data-form td{

    text-align:left;

	padding:5px 10px;

}

input.ben-text{

	background: #FCFCFC;

	border: 1px solid #ccc;

	margin: 0.2em 0;

	padding: 4px 5px;

	width:150px;

}

input.ben-text1{

	background: #FCFCFC;

	border: 1px solid #ccc;

	margin: 0.2em 0;

	padding: 4px 5px;

	width:15px;

}

.title-form{

	padding: 5px 10px;

}

table.data-table td a{

    color:#666;

	font-weight:bold;

}



table.data-table td a:hover{

    color:#06F;

	font-weight:bold;

	text-decoration:none;

}



.go-tourcontent{

	width:310px;

	padding:5px;

	float:left;

}

.ben-go-content-tour{

	width:150px;

}



.ben-tour-home

{

	margin-bottom: 10px;	

}



table.ngaykhac{

   border:1px solid #CCC;

}

table.ngaykhac th{

    color: #FFFFFF;

	text-align:center;

	background:#133783;

}

table.ngaykhac td{



}

.th-other{

	background:#C1C1C1;

}

.go-step-curent a

{

	color:red !important;

}

.go-dieukhoang

{

	height:305px;

	overflow:auto;

	margin-bottom:5px;

}

.go-dattour-title

{

	padding:5px;

	background:#0A84C1;

	color:#fff;

	font-size:1.3em;

	font-weight:bold;

	margin:5px 0;

}

#toursearch-tour .go-select

{

	width:209px;	

}

.go-dattour-header

{

	background:#0A84C1;

	padding:5px;

	font-size:1.3em;

	color:#fff;

	font-weight:bold;

}



#ben-container li

{

	padding:10px;	

}

#ben-container td

{

	padding:3px;

}

.go-result-title

{

	padding:5px;	

}

.ben-nn {

	background:url(../image/bg-nn.png) repeat;

	padding:6px;

	border-radius:0px 0px 8px 8px;

	color:#fff;

}

.ben-vn {

	margin-right:5px;

}

#ui-datepicker-div{
	display:none;
}
.contact-left{
	margin-right:35px;
}
.contact-form{
	margin: 0px auto;
	width: 435px;
	border: 1px solid #DDD;
	padding: 10px;
	border-radius: 5px;
	background: #EDEDED;
}
.support-online{
	background: url(../image/bg-travel.png) repeat;
	font-size: 14px;
	width: 262px;
	border-radius: 5px;
}

ul#tour-du-lich-child li:hover ul:before a{
	color:red;
}
ul#tour-du-lich-child li{
	background: #0A84C1;
	border:none;
}
ul#tour-du-lich-child li a{
	width: 12em;
}
ul#tour-du-lich-child li:hover a{
	background:#007CF5 !important;	
}
a#tour-du-lich:hover{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.tour-du-lich-parent{
	color:white !important;
	background: #0A84C1 !important;
	border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
}