@charset "utf-8";
/* CSS Document */
.ben-title-tt {
	color: #D83C95;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    width: 420px;
	margin-left:10px;
}
.ben-text-tt {
	font-size:14px;
	width:420px;
	color:#767779;
	padding:5px;
	margin-left:10px;
}
.ben-bg-tt {
	border-left: 1px solid #C0C0C2;
    margin-left: 13px;
    margin-top: 7px;
    padding-left: 13px;
	width:700px;
}
a.ben-a-title-tt {
	color:#039;
	text-decoration:none;
}
.ben-content-tintuc {
	margin-top:20px;
}
.ben-line-nx2 {
	border-top: 1px solid #C0C0C2;
    padding-top: 20px;
	padding-bottom: 20px;
}
.ben-line-cttt {
	border-bottom: 1px solid #C0C0C2;
    padding-top: 20px;
	padding-bottom: 20px;
}
.othernews{
	list-style-image: url(../image/point-sp.png);
	list-style-position: inside;
}
.news-detail{
	font-size:14px;
	color:#767779;
}
.othernews a:hover{
	color: #EB008B;
}
.ben-page a{
	color:#039;
}
.ben-pager a{
	margin: 5px;
	padding: 5px 10px;
	color: #363636;
	font-family: Arial;
	font-weight: bold;
	background: transparent url(../image/bg-button-fcn.gif) repeat-x;
	border: 1px solid #C8C8C8;
	border-radius: 3px;
	text-decoration: none;
}
.ben-pager a:hover{
	color:white;
	background:#039;
}