/*** RESET ***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, select {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
table, td, th {vertical-align: middle;}
a img {border: none;}
:focus {outline: 0;}












/* 
   GENERAL 
------------------------------------------------------------------- */
html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}

body {
	background: #FFF;
	color: #444;
	font: normal 75% Arial, Tahoma, Helvetica, sans-serif;
	line-height: 1.5;
}











/* 
   TYPING 
------------------------------------------------------------------- */
/* Headings */
h1,h2,h3,h4,h5,h6 {
	color: #444;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 0.3em;
}
h4,h5,h6 {font-weight: bold;}
h1 {font-size: 2.6em;}
h2 {font-size: 1.9em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin: 0;}

/* Links */
a {
	color: #000000;
	text-decoration: none;
	cursor:pointer;
}
a:focus,a:hover {color: #039; text-decoration: underline; cursor:pointer;}

a.ben-other {
	color: #999;
}
a.ben-other:hover {}


/* Paragraph */
p {margin-bottom: 0.5em;}

object { vertical-align:top; outline:none;border:0}










/* 
   COMMON TYPING CLASS 
------------------------------------------------------------------- */
.ben-text-left {text-align: left;}
.ben-text-right {text-align: right;}
.ben-text-center {text-align: center;}
.ben-text-separator {padding: 0 5px;}

.ben-small {font-size: 0.9em;}
.ben-smaller {font-size: 0.8em;}
.ben-smallest {font-size: 0.7em;}

.ben-large {font-size: 1.15em;}
.ben-larger {font-size: 1.25em;}
.ben-largest {font-size: 1.35em;}

.ben-hidden {display: none;}

.ben-other, .ben-other a {color: #999;}

.ben-error, .ben-notice, .ben-success{
	border: 1px solid #DDD;
	margin-bottom: 1em;
	padding: 0.6em 0.8em;
}

.ben-error {background: #FBE3E4; color: #8A1F11; border-color: #FBC2C4;}
.ben-error a {color: #8A1F11;}

.ben-notice {background: #FFF6BF; color: #514721; border-color: #FFD324;}
.ben-notice a {color: #514721;}

.ben-success {background: #E6EFC2; color: #264409; border-color: #C6D880;}
.ben-success a {color: #264409;}










/* 
   COMMON ALIGNMENT CLASS 
------------------------------------------------------------------- */
/* General */
.ben-center,.ben-aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Floats */   
.ben-left,.ben-alignleft {float: left;}
.ben-right,.ben-alignright {float: right;}
.ben-center{margin:0 auto}
.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
}

/* Images */
img.ben-bordered,img.ben-alignleft,img.ben-alignright,img.ben-aligncenter {
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}
img.ben-alignleft, img.ben-left {margin: 0 10px 10px 0;}
img.ben-alignright, img.ben-right {margin: 0 0 1em 1.5em;}


/* 
   Separators 
------------------------------------------------------------------- */
.ben-content-separator, .ben-item-separator, .ben-hline {
	background: #E5E5E5;
	clear: both;
	color: #FFE;
	display: block;
	font-size: 0;
	line-height: 0;
	height: 1px;	
}
.ben-content-separator {margin: 32px 0;}
.ben-item-separator {margin-bottom: 15px;}
.ben-hline {margin-bottom: 5px;}







/* 
   LIST - TABLE
------------------------------------------------------------------- */
/* Default Lists */
li ul, li ol {margin-left: 1.5em;}
ul, ol {margin: 0 0 0 1.5em;}
ul {list-style-type: disc;}
ol {
	list-style-type: decimal;
	margin-left: 1.9em;
}

dl {margin: 0 0 1.5em 0;}
dl dt {font-weight: bold;}
dd {margin-left: 1.5em;}


/* Special lists */
ul.ben-blank-list li, ul.ben-list li, ul.ben-tab-list li {
	list-style: none;
	margin-top: 0;
}


ul.ben-blank-list {margin: 0;} /* DANH SACH KHONG CO CSS */

ul.ben-list {margin-left: 0;} /* DANH SACH DANG VERTICAL */
ul.ben-list li {
	border-top: 1px solid #EEE;
	list-style: none;
	padding: 4px 0;
}
ul.ben-list li:first-child {border-top: none;}
ul.ben-list li .ben-right {color: #999;}

/* DANH SACH HORIZONTAL */
ul.ben-tab-list {
	display: inline;
	margin: 0;
} 
ul.ben-tab-list li {float: left;}


/* Navigation */
.ben-navigation a {
	color: #888;
	text-decoration: none;
}
.ben-navigation a:hover {color: #002;}
.ben-navigation li.current-tab a {color: #222;}



/* Tables */
table {margin-bottom: 0.5em; width: 100%;}
th {font-weight: bold;}
thead th {text-align:center}
th,td,caption {/*padding: 4px 10px 4px 5px;*/}
tr.even td {background: #F2F6FA;}
tfoot {font-style:normal}
caption {background: #EEE;}

table.ben-table {
	border: 1px solid #CCB;
	margin-bottom: 2em;
	width: 100%;
}
table.ben-table th {
	background: #F0F0F0;
	border: 1px solid #DDD;
	color: #555;
	text-align: center;
}
table.ben-table tr {border-bottom: 1px solid #DDD;}
table.ben-table td, table th {text-align:center}
table.ben-table td {
	background: #F6F6F6;
	border: 1px solid #DDD;
	padding:2px;
}
table.ben-table tr.even td {background: #FCFCFC;}

table.ben-form td{padding:2px;}
table.ben-form tr{vertical-align:middle}












/* 
   FORM
------------------------------------------------------------------- */
.label {
	cursor: pointer;
	font-weight: bold;
	border-left-style: solid;
	border-left-width: 4px;
	margin-bottom: 0.2em;
	padding-left: 10px;
}
label.checkbox, label.radio {font-weight: normal;}

legend {
	font-weight: bold;
	font-size: 1.2em;
}
textarea {overflow: auto;}

input.ben-textbox, textarea, select {
	background: #FCFCFC;
	border: 1px inset #AAA;
	margin: 0.2em 0;
	padding: 4px 5px;
}

textarea
{
	width:230px;
	height:120px;
}
select{height:28px}

input.ben-textbox:focus, textarea:focus, select:focus {background: #FFFFF5;}

input.ben-button {
	background: #DDD;
	border: 1px outset #AAA;
	padding: 3px 5px;
	color:#000000 !important;
	font-size:1em;
	cursor:pointer;
}

a.ben-button{
	background: #DDD;
	border: 1px outset #AAA;
	padding: 4px 5px;
	color:#000000 !important;
	font-size:1em;
	text-decoration:none;
}
input.ben-button:active {border-style: inset;}












/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */




/* 
   COMMON LAYOUT
------------------------------------------------------------------- */
/* Wrapper */
#ben-main {
	margin: 0 auto;
	width: 1060px;
}





/*---------- HEADER AREA ------------*/
/* Header */
#ben-header {padding-top: 0px;border-bottom: 1px solid #fff;}

/* Optional Top */
#ben-top{
	margin: 0 auto;
	width: 1060px;
	padding-bottom: 0px;
}


/* Logo */
#ben-logo2 {	
	padding: 15px 15px 5px 0;
	margin-right: 5px;
}
#ben-logo img {}

#ben-site-title{padding-top:5px}

/* Splash */
#ben-splash {padding-top: 32px;}



/* Main Menu */
/* Main Level 1 */
#ben-main-nav, #ben-main-nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:1.5em; 
z-index:100;
}

#ben-main-nav a{
display:block;
padding:10px 0px;
text-align:center;
color:#8c8d91;
text-decoration:none;
width:114px;
max-width:114px;
}

#ben-main-nav a:hover{
background:url(../image/line-hover-nav.png) repeat-x;
color:#333;
}
#ben-main-nav li:first-child a{
	border-radius:5px 0px 0px 5px;
	width:125px;
	max-width:125px;
}
#ben-main-nav li:last-child a{
	border-radius:0px 5px 5px 0px;
	border-right:1px solid #c4171d;
	width:137px;
	max-width:137px;
}

#ben-main-nav li:last-child a:hover{
	border-radius:0px 5px 5px 0px;
	border-right:1px solid #A6CE39;
	width:137px;
	max-width:137px;
	color:black !important;
}

#ben-main-nav li{
float:left;
position:relative;
border-right: 1px solid #FFFFFF;

}

#ben-main-nav a.current-tab{
	background: url("../image/line-hover-nav.png") repeat-x scroll 0 0 transparent;
	color:#8c8d91;
}

#ben-main-nav ul {
	background: none repeat scroll 0 0 #74a534;
    border-radius: 5px 5px 5px 5px;
    display: none;
    opacity: 0.8;
    position: absolute;
    
    width: 19em;
}

#ben-main-nav ul li{
margin-left:0px;
}

#ben-main-nav li ul a{
width:12em;
height:auto;
float:left;
}

#ben-main-nav ul ul{
top:auto;
}	

#ben-main-nav li ul ul {
left:12em;
margin:0px 0 0 10px;
}

#ben-main-nav li:hover ul ul, #ben-main-nav li:hover ul ul ul, #ben-main-nav li:hover ul ul ul ul{
display:none;
}
#ben-main-nav li:hover ul, #ben-main-nav li li:hover ul, #ben-main-nav li li li:hover ul, #ben-main-nav li li li li:hover ul{
display:block;
}


/* Subnav Leve 2 */
#ben-sub-nav {
	border-bottom: 1px solid #DDD;
	padding: 12px 5px;
}
#ben-sub-nav a {
	font-size: 1.2em;
	text-decoration: none;
}
#ben-sub-nav li {margin: 0 1em;}
#ben-sub-nav li.current-tab a {font-weight: bold;}





/*---------- BODY AREA ------------*/
#ben-content {width:1060px}

#ben-maincontent{}
.ben-two-columns #ben-maincontent{width: 750px;}
.ben-three-columns #ben-maincontent{width:570px; margin-left:5px;}
.ben-three-columns-right #ben-maincontent{width:520px; margin-right:20px}


/* Sidebar */
#ben-sidebar{} /*Div chua 2 sidebar*/
.ben-sidebar{width:210px;}


/* Columns */
.ben-col2 {width: 46%;}
.ben-col2.ben-other{width:48%}
.ben-col3, .col3-mid {width: 31%;}
.ben-col3-mid {margin-left: 3%;}


/* Posts - News list */
.ben-post {margin-bottom: 20px;}

.ben-post img.ben-left{margin-bottom:1em}

.ben-post-title {}
.ben-post-title a {}

.ben-post-date {color: #777; margin-bottom:0.6em}
.ben-post-date a {color: #444;}

.ben-post-body {font-size: 1.1em;}
.ben-post-body a {color: #039;}
.ben-post-body a:hover {color: #039;}

.ben-post-pagination {
	color: #777;
	padding: 10px 0;
}
.ben-post-pagination-top {
	border-bottom: 1px solid #DDD;
	margin-bottom: 24px;
}
.ben-post-pagination-bottom {
	border-top: 1px solid #DDD;
	margin-top: 24px;
}



/* Sections */
.ben-section {/*margin-bottom: 10px; border:1px solid #DDDDDD*/}
.ben-sidebar .ben-section{}
#ben-maincontent .ben-section{}

.ben-section-content{/*padding:5px 15px*/margin-top:10px;}
.ben-sidebar .ben-section-content{padding:5px}
#ben-maincontent .ben-section-content{padding:5px 10px}

.ben-section-title {
	background-color: #F9F9F9;
	border-top: 2px solid #DDD;
	color: #7A7A7A;
	font: bold 1.2em sans-serif;
	margin-bottom: 5px;
	padding: 7px 10px 6px;
}
.ben-sidebar .ben-section-title {margin-bottom: 8px;}
#ben-maincontent .ben-section-title {margin-bottom: 8px;}







/*---------- FOOTER AREA ------------*/
#ben-footer {
	text-align:center;
	color: #000000;
	
}
#ben-footer-left {width: 1060px;}
#ben-footer-right {
	width: 459px;
	text-align: right;
}
#ben-footer p {margin-bottom: 0.4em;}
#ben-footer .text-separator {
	padding: 0 3px;
	color: #BBB;
}
#ben-footer a:hover {color: #000;}
.ben-page
{
	margin-top:5px;
	text-align:center;	
}
.results
{
	text-align:center;	
}

.ben-page a
{
	border:thin solid #CCC;
	padding:3px;
	margin:3px;
}
.ben-answer
{
	background:#F00;
}

ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul#menu a {
  /*display: block;*/
  text-decoration: none;
  padding: 0.2em;	
  background:transparent;
}

ul#menu div.collape{
	cursor:pointer;
}

ul#menu li {
  margin-top: 1px;
}

ul#menu li div {
  background: #666666;
  color: #FFF;	
  padding: 0.4em;
}

ul#menu li div a{
  color: #FFF;	
}

ul#menu li div a{
  color: #FFF;	
}

ul#menu li div:hover{
  background: #000;
  color: #FFF;	
}

ul#menu li ul li div {
  background: #CCCCCC;
  color: #000;
  padding-left: 20px;
}

ul#menu li ul li a {
  color: #FFF;
}

ul#menu li ul li ul li div {
  background: #F2F2F2;
  color: #000;
  padding-left: 30px;
}

ul#menu li ul li ul li div a {
  color: #000;
}

ul#menu li ul li div:hover {
  background: #aaa;
  border-left: 5px #000 solid;
}
.number
{
	text-align:right !important;	
}
.container
{
	margin-bottom:10px;	
}

.ben-editor td
{
	border:thin solid;
	padding:5px;
}

.ben-data-table td,th
{
	padding:10px;
}
.ben-login {
	margin-right:35px;
	color:#fff;
	margin-bottom:5px;
}
.ben-header-right {
	width:725px;
	background:url(../image/line-bg-nav.png) repeat-x;
	height:103px;
}
.ben-navigation2 {
	background:url(../image/line-nav-son.png) repeat-x;
	border-radius: 10px 10px 10px 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    position: absolute;
    width: 725px;
	max-width:725px;
}
.ben-mxh {
	/*padding-top:20px;
	padding-right:36px;*/
	padding-bottom:10px;
}
.ben-icon {
	margin-right:5px;
	margin-left:20px;
}
.ben-csbb {
	color: #013F70;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 2px;
}
.ben-yt {
	color: #5d9f3d;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 2px;
}
.ben-hl {
	color: #5d9f3d;
    font-size: 0.9em;
    font-weight: bold;
    
}
a.ben-a-csbb {
	color:#013F70;
}
a.ben-a-yt {
	color:#5d9f3d;
}
.ben-line-mxh {
	margin-left:20px;
	padding-top:10px;
}
.ben-sp {
	border-right: 1px solid #BDBDBD;
    padding: 12px;
    width: 307px;
}
.ben-sp2 {
	padding: 12px;
    width: 307px;
	border-right:1px solid #bdbdbd;
	
}
.ben-sp3 {
	margin-left: 2px;
    padding: 12px;
    width: 304px;
}
.ben-sp-all {
	border:2px solid #bdbdbd;
}
.ben-sp-all2 {
	border:2px solid #bdbdbd;
	margin-top:10px;
}
.ben-title-yt {
	font-size:1.9em;
	color:#5ca137;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.ben-xt {
	font-size:0.8em;
	color:#5ca137;
}
.ben-line-xt {
	margin: 4px 5px 0 75px;
}
.ben-mten {
	margin-top:4px;
}
a.ben-a-xt{
	color:#5ca137;
}
.ben-title-news {
	border-bottom:1px solid #5ca137;
}
.ben-news {
	font-size: 1.3em;
    margin-left: 5px;
}
.ben-list-news {
	margin-top:10px;
}
.ben-title-qc {
	color: #A6CE3A;
    font-size: 2.1em;
    font-weight: bold;
    margin-top: 25px;
	text-align:center;
}
.ben-npp {
	margin-right:23px;
	margin-top:5px;
	margin-bottom:20px;
}
.ben-line-lsp {
	margin-left:40px;
	margin-right:40px;
}
a.ben-a-lsp {
	color:#949599;
}
.ben-km {
	background:#a6ce39;
	border-radius: 10px 10px 10px 10px;
    height: 120px;
    width: 307px;
	margin-left:34px;
}
.ben-title-km {
	font-size:1.3em;
	color:#FFF;
	margin-left:22px;
}
input.ben-text-search-footer {
	background:url(../image/bg-input.png) no-repeat;
	padding: 0 5px;
    width: 216px;
	height:38px;
}
.ben-input-searh {
	margin-left: 15px;
    margin-top: 5px;
}
.ben-hotline {
	font-size:1.5em;
	color:#fff;
	font-weight:bold;
	text-align:center;
}
.ben-lsp {
	margin-top:20px;
	margin-bottom:20px;
}
.ben-a-dn {
	color:#FFF;
}
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
/* *************************************************** */
#ben-popup-content
{
	padding:10px;	
}

/*Product Detail*/
.thanh-image-detail{
	/* margin-top: 20px;
	 margin-left:15px;*/
	 width:380px;
	 margin-right:50px;
}

.summary-sp{
	width: 430px;
}

table.data-summary-sp th{
	width:50%;
	font-size:1.25em;
	background:url(../image/images/bg-tt_03.png) transparent repeat-x;
	height:33px;
}

table.data-summary-sp td{
	font-size: 1em;
    font-weight: bold;
    padding: 20px;
    width: 50%;
	border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
}

table.data-summary-sp td a:hover{
	color:#E6B147;
	text-decoration:none;
}

table.data-summary-sp{
	font-family:Tahoma, Geneva, sans-serif;
	border:1px solid #CCC;
	color:black;
}

.thanh-tab-content{
	margin-bottom:10px;
}

/*BANER HOME*/
#ben-banner-icon
{
	position:absolute;	
	margin-top:395px;
	z-index:100;
	width:960px;
}
.ben-banner-icon
{
	margin-left:10px;	
}

/*PRODUCT DETAIL*/
.summary-detail-sp {
	border:1px solid #CCC;
	margin-bottom:30px;
	padding:10px;
}

.sale {
	color:red;
	font-weight:900;
	font-size:14px;	
}

.title-detail{
	color:#84AE32;
	font-size:30px;
	font-weight:bold;
	line-height:34px;
}

.price-detail{
	background: #E4F1D5;
	color: #74A542;
	height:30px;
	width:250px;
	margin-top:20px;
	padding-bottom:5px;
	padding-left:5px;
	font-weight:bold;
	font-size:2em;
}

.text-bold{
	font-weight:bold;
	font-size:14px;
}

.text-soluong {
    border: 1px inset #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    height: 20px;
    margin: 0.2em 0 0.2em 5px;
    padding: 4px 5px;
    width: 20px;
}

.soluong{
	position:relative;	
}

.soluong-img{
	position:absolute;
	margin-left:110px;
	margin-top:-35px;	
}

.summary-detail-sp-content{
	width:900px;
	margin:0 auto;	
}

.title-summary, .summary-detail, .khuyenmai{
	border-bottom: 1px solid #E5E5E5;
	margin-bottom:5px;
	padding-bottom:3px;	
}

.list-tintuc{
	width:1013px;	
}

.catalog-list, .maytinhbang-list{
	width:1013px;
}

.othernews{
	font-size:14px;
	color:#5CA137;
	font-weight:bold;	
}

.othernews-content{
	padding-left:5px;
	color:#5CA137;	
}

/*dnkhoc css*/
.active{
	background: url(../image/line-hover-nav.png) repeat-x scroll 0 0 transparent;
    color: #333333;	
}

.col5 {
	width:400px;	
}

.sale-off{
	background: #c4171d;
	color:white !important;
}

/*COMMENT*/
.comment{}
.comment-title{
	background: /*url("../image/taskbar-bg.png") repeat-x scroll 0 0 transparent*/#b7d36c;
    border: 1px solid #CCCCCC;
	color:white !important;
	border-radius: 5px 5px 0px 0px;
    height: 13px;
	padding: 12px 15px;
}
.comment-content{
	padding:15px;
	font-size:1.1em;
}
.comment-detail{
	border-radius:5px;
	border:1px #CCC solid;
	padding:10px;
}
.cm-detail{
	margin-bottom:15px;	
}
.ykien-content{
	background-color:#E4F1D5;
	padding:15px;
}
.text-comment{
	border: 1px inset #AAAAAA;
	border-radius:10px;
    margin: 0.2em 0;
    padding: 4px 5px;
	width:200px;
	height:20px;
}
.text-comment2{
	border: 1px inset #AAAAAA;
    border-radius: 10px;
    height: 150px;
    margin: 0.2em 0;
    padding: 4px 5px;
    width: 693px;
}

textarea.comment2{
	height: 170px;
    width: 693px;
	border-radius:10px;
}



.guiykien{
	background:url(../image/btn-gyk.png) transparent no-repeat;
	width:125px;
	height:31px;
	cursor:pointer;
	margin-top:10px;
}
.thanh-tab-content{
	
	margin-bottom:10px;
	
	
}
.comment-content{
	border:1px solid #bdbdbd;
	margin-bottom:10px;
}

/*LOGIN*/
#login-form{
	width:380px;
	margin:0 auto;
	border:1px solid #a6ce39;
	border-radius: 5px;
	padding-top:10px;
}

.login-title{
	color:#333;
	font-size:16px;
	padding:5px;
	text-align:center;
	background:#a6ce39;
	font-weight:bold;
	margin-bottom:10px;
	border-radius:5px;
	border:1px solid red;	
}

.form-register{
	margin:0 auto;
	width:500px;
	border:1px solid #a6ce39;
	border-radius:5px;
	padding-top:10px;	
}

