@charset "utf-8";
/* CSS Document */
.ben-khuyenmai-title {
	color: #A6CE39;
    font-size: 3.8em;
    font-weight: bold;
    text-align: center;
}
.ben-km-title-center {
	color: #72A731;
    font-size: 2.8em;
    font-weight:bold;
}
.ben-gia-km {
	color: #40993F;
    font-size: 2em;
    font-weight: bold;
	margin-bottom: -10px;
}
.ben-gia-km1 {
	color: #40993F;
    font-size: 2em;
    font-weight: bold;
	margin-bottom: -10px;
}

.ben-gia-km2 {
	color: #81b539;
    font-size: 2em;
    font-weight: bold;
	margin-bottom: -10px;
}
.ben-gia-km3 {
	color: #a6ce39;
    font-size: 2em;
    font-weight: bold;
	margin-bottom: -10px;
}
.ben-snm-km {
	color: #000000;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 68px;
}
.ben-btn-km {
	margin: 25px 15px 10px;
}
.ben-ct-gia-km1 {
	border-bottom:1px solid #bdbdbd;
}
.ben-ct-gia-km2 {
	border-bottom:1px solid #bdbdbd;
}
.ben-bg-gia-km {
	margin-left:19px;
}
.ben-bg-km {
	border:1px solid #000;
	padding:15px;
	margin-bottom: 20px;
}
.ben-img-km {
	margin-top:20px;
}
.ben-tt-km {
	border-top:1px solid #bdbdbd;
	border-bottom:1px solid #bdbdbd;
}
table.ben-table-km {
	/*width:97%;*/
	width:938px;
}

table.ben-table-km1 {
	/*width:97%;
*/}


table.ben-table-km1 th {
    background: none repeat scroll 0 0 #81b539;
    border: 1px solid #DDDDDD;
    color: #fff;
    text-align: center;
}
table.ben-table-km1 td {
    background: none repeat scroll 0 0 #e4f1d5;
    border: 1px solid #DDDDDD;
    color: #000;
	padding:7px;
	font-size:1.3em;
}

table.ben-table-km th {
    background: none repeat scroll 0 0 #81b539;
    border: 1px solid #DDDDDD;
    color: #fff;
    text-align: center;
}
table.ben-table-km td {
    background: none repeat scroll 0 0 #e4f1d5;
    border: 1px solid #DDDDDD;
    color: #000;
	padding:7px;
	font-size:1.3em;
}
.ben-dskh {
	margin-top:20px;
}
.ben-crol {
	margin-top:70px;
}
.ben-ttsp-km {
	font-size:1.5em;
	color:#81b539;
	font-weight:bold;
}
.ben-title-ttsp-km {
	font-size:2.5em;
}