/* Tiny Scrollbar */
#scrollbar1 { width: 970px; /*margin: 20px 0 10px;*/margin-top:-6px; }
#scrollbar1 .viewport { width: 938px; height:155px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:938px; }
#scrollbar1 .scrollbar{ background: transparent url(../image/crol-2.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
/*#scrollbar1 .track { background: transparent url(../images/crol-2.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }*/
#scrollbar1 .thumb { background: transparent url(../image/crol-1.png) no-repeat 50% 100%; height: 46px !important; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; /*margin-top:20px;*/}
/*#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }*/
#scrollbar1 .disable { display: none; }