<div class="ben-left" style="margin-bottom:10px;">
	<div id="dDestination" class="dl-left-inner"> 
    	<a href="#" title="Tất cả" class="active"><?php echo $tourtype ?><em></em></a> 
        <?php  
        	if(count($zones)){
            	foreach($zones as $zone){
        ?>
        <a href="<?php echo HTTP_SERVER.'tour/'.$zone['zoneid'] ?>.html" title="<?php echo $zone['zonename'] ?>">
        	<?php echo $zone['zonename'] ?>
        </a>
        <?php
        		}
            }
        ?>
    </div>
</div>