<style>
.ben-cart
{
	border:thin solid #CCC;	
	padding:5px;
}
</style>

<div class="ben-bg-title">
    <div>
        <p style="color:#929497"><?php echo $this->document->breadcrumb ?></p>
    </div>
    <div class="ben-tt">
        <?php 
            echo $title;
        ?>
    </div>
</div>       

<div id="addoncartlist" class="ben-post">

</div>
<div align="center">
	<input type="button" class="ben-button" value="Tiếp tục mua hàng" onclick="window.location='<?php echo HTTP_SERVER?>home.php'"/>
    <input type="button" class="ben-button" value="Thanh toán" onclick="window.location='<?php echo $this->document->createLink('checkout')?>'"/>
</div>
<script language="javascript">
$(document).ready(function() {
	$("#addoncartlist").load(HTTP_SERVER+"?route=addon/cart/getList");
});
</script>