  	<!--<div class="ben-khuyenmai-title">NHANH TAY ĐỂ MUA ĐƯỢC GIÁ THẤP NHẤT!</div>-->
	<?php
		echo htmlspecialchars_decode($saleoff['description']);
	?>
    
    
    <div class="ben-bg-km">

    	<div class="ben-km-title-center"><?php echo $media['productname'] ?></div>

        <p style="color: #000000;font-size: 1.3em;">

 			<b>Thông số kỹ thuật:&nbsp;&nbsp;</b>

           	<?php echo htmlspecialchars_decode($media['summary']) ?>

        </p>

        <div class="ben-tt-km">

        	<div class="ben-left ben-img-km"><img src="<?php echo $media['imagethumbnail'] ?>"/></div>

            <div class="ben-left">

            <!--Load sale price-->

            <?php 

            	$count = 1;

            	foreach($child as $item) {

                	$btn="btn-conhang.png";

                    $onclick = "this.disabled = true;";

                    $btnpurchase = "btn-muangay-disable.png";

                    $id = $item['id'];

                	//echo $item['soldout'];

            		if($item['soldout'] == 'true')

                    {

                    	$btn = "btn-conhang.png";

                        $btnpurchase = "btn-muangay2.png";

                        $onclick = 'showRegister('.$id.')';

                    }

                    else if($item['purchasenumber'] < $item['salenumber']){

                    	$btn = "btn-conhang.png";

                        $btnpurchase = "btn-muangay-disable.png";

                    }

                    else{

                    	$btn = "btn-chayhang.png";

                        $btnpurchase = "btn-muangay-disable.png";

                    }

            ?>

            	<div class="ben-ct-gia-km<?php echo $count ?>">

            		<div class="ben-left ben-bg-gia-km">

                        <div class="ben-left ben-gia-km<?php echo $count ?>">Giá: <span style="font-size:2.3em;"><?php echo $this->string->numberFormate($item['price']) ?></span></div>

                        <div class="ben-left ben-gia-km<?php echo $count ?>"><span style="font-size:1.5em;">đ</span></div>

                        <div class="clearer"></div>

                        <div class="ben-left ben-snm-km">Đã có <span style="color:#F00"><?php echo $this->string->numberFormate($item['purchasenumber']) ?></span> người mua</div>

                        <div class="ben-right"> <img src="<?php echo HTTP_SERVER.DIR_IMAGE ?><?php echo $btn ?>" width="94" height="24" /></div>

                        <div class="clearer"></div>

                    </div>

                <div class="ben-left ben-btn-km"><a onclick="<?php echo $onclick ?>"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?><?php echo $btnpurchase ?>" width="196" height="70" /></a></div>

                <div class="clearer"></div>

                </div>

            <?php

            		$count++; 

            	} 

            

            ?>

                <!--<div class="ben-ct-gia-km">

            		<div class="ben-left ben-bg-gia-km">

                        <div class="ben-left ben-gia-km2">Giá: <span style="font-size:2.3em;">1.450.000</span></div>

                        <div class="ben-left ben-gia-km2"><span style="font-size:1.5em;">đ</span></div>

                        <div class="clearer"></div>

                    <div class="ben-left ben-snm-km">Đã có <span style="color:#F00">89</span> người mua</div>

                    <div class="ben-right"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>btn-conhang.png" width="93" height="23" /></div>

                    <div class="clearer"></div>

                </div>

                <div class="ben-left ben-btn-km"><a href="#"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>btn-muangay2.png" width="196" height="70" /></a></div>

                <div class="clearer"></div>

                </div>-->

                <!--<div class="ben-ct-gia-km1">

            		<div class="ben-left ben-bg-gia-km">

                        <div class="ben-left ben-gia-km3">Giá: <span style="font-size:2.3em;">1.850.000</span></div>

                        <div class="ben-left ben-gia-km3"><span style="font-size:1.5em;">đ</span></div>

                        <div class="clearer"></div>

                    <div class="ben-left ben-snm-km">Đã có <span style="color:#F00">0</span> người mua</div>

                    <div class="ben-right"> <img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>btn-conhang.png" width="93" height="23" /></div>

                    <div class="clearer"></div>

                </div>

                <div class="ben-left ben-btn-km"><a href="#"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>btn-muangay2.png" width="196" height="70" /></a></div>

                <div class="clearer"></div>

                </div>-->

            </div>

            <div class="clearer"></div>

      </div>

      	<div class="ben-dskh">

        		<table class="ben-table-km">

            	<thead>

                    <tr>

                        <td width="100%" colspan="6" style="background:#3F9A3D">

                            <span style="font-size:2.3em; margin-left:10px; color:#FFF;">Danh sách khách hàng đã đăng ký mua</span>

                        </td>

                    </tr>

                    <tr>

                        <th width="5%">STT</th>

                        <th width="25%">Họ tên khách hàng</th>

                        <th width="15%">Số CMND</th>

                        <th width="15%">Số điện thoại</th>

                        <th width="25%">Địa chỉ</th>

                        <th width="15%">Giá mua được</th>

                    </tr>

                </thead>

                </table>

        

       <!-- <br />

        <br />

        <br />

        <br />

        <br />-->

        <!--<div class="ben-dskh">-->

<!--        <tr>

        <td colspan="6">-->

        <div id="scrollbar1">

            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>

            <div class="viewport">

                 <!--<div class="overview">

                    <h3>Magnis dis parturient montes</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae velit at velit pretium sodales. Maecenas egestas imperdiet mauris, vel elementum turpis iaculis eu. Duis egestas augue quis ante ornare eu tincidunt magna interdum. Vestibulum posuere risus non ipsum sollicitudin quis viverra ante feugiat. Pellentesque non faucibus lorem. Nunc tincidunt diam nec risus ornare quis porttitor enim pretium. Ut adipiscing tempor massa, a ullamcorper massa bibendum at. Suspendisse potenti. In vestibulum enim orci, nec consequat turpis. Suspendisse sit amet tellus a quam volutpat porta. Mauris ornare augue ut diam tincidunt elementum. Vivamus commodo dapibus est, a gravida lorem pharetra eu. Maecenas ultrices cursus tellus sed congue. Cras nec nulla erat.</p>

                    

                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eget mauris libero. Nulla sit amet felis in sem posuere laoreet ut quis elit. Aenean mauris massa, pretium non bibendum eget, elementum sed nibh. Nulla ac felis et purus adipiscing rutrum. Pellentesque a bibendum sapien. Vivamus erat quam, gravida sed ultricies ac, scelerisque sed velit. Integer mollis urna sit amet ligula aliquam ac sodales arcu euismod. Fusce fermentum augue in nulla cursus non fermentum lorem semper. Quisque eu auctor lacus. Donec justo justo, mollis vel tempor vitae, consequat eget velit.</p>

                    

                    <p>Vivamus sed tellus quis orci dignissim scelerisque nec vitae est. Duis et elit ipsum. Aliquam pharetra auctor felis tempus tempor. Vivamus turpis dui, sollicitudin eget rhoncus in, luctus vel felis. Curabitur ultricies dictum justo at luctus. Nullam et quam et massa eleifend sollicitudin. Nulla mauris purus, sagittis id egestas eu, pellentesque et mi. Donec bibendum cursus nisi eget consequat. Nunc sit amet commodo metus. Integer consectetur lacus ac libero adipiscing ut tristique est viverra. Maecenas quam nibh, molestie nec pretium interdum, porta vitae magna. Maecenas at ligula eget neque imperdiet faucibus malesuada sed ipsum. Nulla auctor ligula sed nisl adipiscing vulputate. Curabitur ut ligula sed velit pharetra fringilla. Cras eu luctus est. Aliquam ac urna dui, eu rhoncus nibh. Nam id leo nisi, vel viverra nunc. Duis egestas pellentesque lectus, a placerat dolor egestas in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec vitae ipsum non est iaculis suscipit.</p>

                    

                    <h3>Adipiscing risus </h3>

                    <p>Quisque vel felis ligula. Cras viverra sapien auctor ante porta a tincidunt quam pulvinar. Nunc facilisis, enim id volutpat sodales, leo ipsum accumsan diam, eu adipiscing risus nisi eu quam. Ut in tortor vitae elit condimentum posuere vel et erat. Duis at fringilla dolor. Vivamus sem tellus, porttitor non imperdiet et, rutrum id nisl. Nunc semper facilisis porta. Curabitur ornare metus nec sapien molestie in mattis lorem ullamcorper. Ut congue, purus ac suscipit suscipit, magna diam sodales metus, tincidunt imperdiet diam odio non diam. Ut mollis lobortis vulputate. Nam tortor tortor, dictum sit amet porttitor sit amet, faucibus eu sem. Curabitur aliquam nisl sed est semper a fringilla velit porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum in sapien id nulla volutpat sodales ac bibendum magna. Cras sollicitudin, massa at sodales sodales, lacus tortor vestibulum massa, eu consequat dui nulla et ipsum.</p>

                    

                    <p>Aliquam accumsan aliquam urna, id vulputate ante posuere eu. Nullam pretium convallis tincidunt. Duis vitae odio arcu, ut fringilla enim. Nam ante eros, vestibulum sit amet rhoncus et, vehicula quis tellus. Curabitur sed iaculis odio. Praesent vitae ligula id tortor ornare luctus. Integer placerat urna non ligula sollicitudin vestibulum. Nunc vestibulum auctor massa, at varius nibh scelerisque eget. Aliquam convallis, nunc non laoreet mollis, neque est mattis nisl, nec accumsan velit nunc ut arcu. Donec quis est mauris, eu auctor nulla. Fusce leo diam, tempus a varius sit amet, auctor ac metus. Nam turpis nulla, fermentum in rhoncus et, auctor id sem. Aliquam id libero eu neque elementum lobortis nec et odio.</p>                   

                </div>-->

                <div class="overview">

                <table class="ben-table-km1 ben-left">

                

                    <tbody>

                    <?php

                    if(count($listuser) > 0){

                        $count = 1; 

                        foreach($listuser as $item) { 

                    

                    ?>

                        <tr>

                            <td width="5%" class="ben-text-center"><?php echo $count++ ?></td>

                            <td width="25%" class="ben-text-left"><?php echo $item['customername'] ?></td>

                            <td width="15%" class="ben-text-center"><?php echo substr($item['idcard'],0,3)."XXXX" ?></td>

                            <td width="15%" class="ben-text-center"><?php echo substr($item['phone'],0,4)."XXXXXX" ?></td>

                            <td width="25%" class="ben-text-center"><?php echo $item['address'] ?></td>

                            <td width="15%" class="ben-text-center"><span style="color:#5aa137; font-weight:bold"><?php echo $this->string->numberFormate($item['purchaseprice'])?> đ</span></td>

                        </tr>

                    <?php 

                        }

                    }

                    ?>

                    </tbody>

                </table>

                </div>

            </div>

        </div>

        <div class="ben-right" style="padding-right:30px; margin-top:17px;"><?php echo $listpage ?></div>

        </div>	

        	

            

            <!--<div class="ben-right ben-crol"><a href="#"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>crol.png" width="15" height="237" /></a></div>

            <div class="clearer"></div>-->

            <!--</div>-->

       

    </div>

    <div class="ben-bg-km">

    	<div class="ben-ttsp-km">Thông tin sản phẩm</div>

      	<?php echo htmlspecialchars_decode($media['description']) ?>

    </div>

<script language="javascript">

$(document).ready(function(){

	$('#scrollbar1').tinyscrollbar();	

});

		

function showRegister(id)

{

	$('#ben-popup-content').load('?route=addon/saleoff/productRegister&id='+id,

	function()

	{

		//alert('abc');

		showPopup('#ben-popup', 680, 700, true );

	});		

}

</script>

