<!--<?php
	echo "<pre>";
    print_r($zones);
    echo "</pre>";
?>-->
<div id="go-search-khachsan">            
    <div id="go-search-khachsan-title"> 
        <img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>text-tour.png" width="150" height="23" />
    </div>            
    <div id="go-search-khachsan-trongnuoc">                
        <div id="go-tab-search-title-trongnuoc" class="go-tab-search-title search-active" onclick="selectzoneto('trongnuoc')"> 
        	<a>Trong nước</a> 
        </div>
        <div id="go-tab-search-title-nuocngoai" class="go-tab-search-title" onclick="selectzoneto('nuocngoai')"> 
            <a>Nước ngoài</a>
        </div>                
        <div class="go-search-khachsan-form">
        	<input type="hidden" value="trongnuoc" name="tourtype" id="tourtype" />
            <table>
                <tbody>
                    <tr>
                        <td colspan="3">
                            <select name="zonefrom" id="zonefrom">
                                <option value="">Nơi khởi hành</option>
                                <?php
                                	if(count($zones)){
                                    	foreach($zones as $zone){
                                ?>
                                <option value="<?php echo $zone['zoneid'] ?>">
                                	<?php echo $zone['zonename'] ?>
                                </option>
                                <?php
                                		}
                                    }
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <select name="zoneto" id="zoneto">
                                <option value="">Điểm đến</option>
                                <?php
                                	if(count($zones)){
                                    	foreach($zones as $zone){
                                ?>
                                <option value="<?php echo $zone['zoneid'] ?>">
                                	<?php echo $zone['zonename'] ?>
                                </option>
                                <?php
                                		}
                                    }
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Giá từ</td>
                        <td>đến</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <select name="pricefrom" id="pricefrom">
                            	<option value="0">0</option>
                                <?php
                                	if(count($prices)){
                                    	foreach($prices as $key=>$price){
                                ?>
                                <option value="<?php echo $key ?>">
                                	<?php echo $this->string->numberFormate($price) ?>
                                </option>
                                <?php
                                		}
                                    }
                                ?>
                            </select>
                        </td>
                        <td>
                            <select name="priceto" id="priceto">
                                <?php
                                	if(count($prices)){
                                    	foreach($prices as $key=>$price){
                                ?>
                                <option value="<?php echo $key ?>">
                                	<?php echo $this->string->numberFormate($price) ?>
                                </option>
                                <?php
                                		}
                                    }
                                ?>
                            </select>
                        </td>
                        <td>(<?php echo $this->document->setup['Currency']?>)</td>
                    </tr>
                    <tr>
                        <td colspan="3">Thời gian</td>
                    </tr>
                    <tr>
                        <td>
                        	<script language="javascript">
							$(function() {
								$("#startdate").datepicker({
										changeMonth: true,
										changeYear: true,
										dateFormat: 'dd-mm-yy',
										
										});
								});
							</script>
                            <input type="text" class="ben-textbox" id="startdate" name="startdate" style="width:93%" />
                        </td>
                        <td colspan="2">
                            <div id="btnSearchTour" class="ben-right"></div>
                            <div class="clearer">&nbsp;</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>                
    </div>            
</div>
<script language="javascript">
	
	function selectzoneto(tourtype){
		//$("#zoneto").load("?route=product/product/loadPrice&mediaid="+$("#mediaid").val());
		$("#tourtype").attr("value", tourtype);
		if(tourtype == 'nuocngoai'){
			$(".go-tab-search-title").removeClass("search-active");
			$("#go-tab-search-title-nuocngoai").addClass("search-active");
		}
		else{					
			$(".go-tab-search-title").removeClass("search-active");
			$("#go-tab-search-title-trongnuoc").addClass("search-active");
		}

		$.post("?route=addon/searchtour/selectzoneto&tourtype="+tourtype, 
			function(data) 
			{	
				$("#zoneto").html("<option value=''>Điểm đến</option>" + data);			
				numberReady();
			});
	}

	$(document).ready(function(){
		$('#pricefrom').val("<?php echo $_GET['pricefrom'] ?>");
		$('#priceto').val("<?php echo $_GET['priceto'] ?>");
		$('#zonefrom').val("<?php echo $_GET['zonefrom'] ?>");
		$('#zoneto').val("<?php echo $_GET['zoneto'] ?>");
		$('#startdate').val("<?php echo $_GET['startdate'] ?>");
	});
	
	$("#btnSearchTour").click(function(){
		var url = HTTP_SERVER + "tour/search.html";
		var flag = true;
		var pricefrom = $('#pricefrom').val();
		url += '?pricefrom=' + pricefrom;
		var priceto = $('#priceto').val();
		if(priceto < pricefrom){
			alert('Khung giá bạn nhập chưa đúng.');
			flag = false;
		}
		else{
			url += '&priceto=' + priceto;
		}
		var zonefrom = $('#zonefrom').val();
		if(zonefrom != ''){
			url += '&zonefrom=' + zonefrom;
		}
		var zoneto = $('#zoneto').val();
		if(zoneto != ''){
			url += '&zoneto=' + zoneto;
		}
		var startdate = $('#startdate').val();
		if(startdate != ''){
			url += '&startdate=' + startdate;
		}
		
		
		var tourtype = $('#tourtype').val();
		url += '&tourtype=' + tourtype;
		if(flag){
			window.location = url;
		}
	});
</script>