<div class="ben-bg-title">
    <div>
        <p style="color:#929497"><?php echo $this->document->breadcrumb ?></p>
    </div>
    <div class="ben-tt">
        <?php 
            echo $title;
        ?>
    </div>
</div>
<div>
	<?php echo $productlist ?>
</div>

<script language="javascript">
	$(document).ready(function() {
		flag = "<?php echo $flag ?>";
		if(flag == 'tourtype'){
			$("#tour-du-lich").addClass('current-tab');
		}
	});
</script>