<div class="ben-wrapper">
  <div class="ben-two-columns">
  	<div class="ben-sidebar ben-left">
    	<?php
        	if(count($leftsitebar)){
            	foreach($leftsitebar as $item){
                	echo $item;
                }
            }
        ?>
    </div>
    <div class="ben-left" id="ben-maincontent">
        <?php echo $producthome ?>
    </div>
    <div class="clearer">&nbsp;</div>
  </div>
</div>