<!--HEADER-->
<div id="ben-header">
    <div id="ben-top">
      <div class="ben-left" id="ben-logo"><a href="<?php echo HTTP_SERVER ?>home.php"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>logo.png" width="291" height="132" /></a></div>
      <div class="ben-navigation ben-left">
        <ul id="ben-main-nav">
          <!--<li><a class='current-tab' href="<?php echo $this->document->createLink('maytinhbang') ?>">Máy tính bảng  &nbsp;&nbsp;|</a></li>-->
          <!--<li><a class='current-tab' href="<?php echo $this->document->createLink('home') ?>">Máy tính bảng  &nbsp;&nbsp;|</a></li>-->
<!--          <li><a  href='home.php'>Catalog &nbsp;&nbsp;|</a></li>
          <li><a  href="<?php echo $this->document->createLink('daily') ?>">Đại lý &nbsp;&nbsp;|</a></li>
          <li><a  href="<?php echo $this->document->createLink('hoidap') ?>">Hỏi đáp &nbsp;&nbsp;|</a>
            
          </li>
          <li><a  href="<?php echo $this->document->createLink('tintuc') ?>">Tin tức &nbsp;&nbsp;|</a></li>
          <li><a  href="<?php echo $this->document->createLink('lienhe') ?>">Liên hệ</a></li>-->
          
          <li><a href="<?php echo $this->document->createLink('maytinhbang') ?>">Máy tính bảng  &nbsp;&nbsp;|</a></li>
          <!--<li><a class='current-tab' href="<?php echo $this->document->createLink('home') ?>">Máy tính bảng  &nbsp;&nbsp;|</a></li>-->
          <li><a href="<?php echo $this->document->createLink('catalog') ?>">Catalog &nbsp;&nbsp;|</a></li>
          <li><a href="<?php echo $this->document->createLink('daily') ?>">Đại lý &nbsp;&nbsp;|</a></li>
          <li><a href="<?php echo $this->document->createLink('hoidap') ?>">Hỏi đáp &nbsp;&nbsp;|</a>
            
          </li>
          <li><a href="<?php echo $this->document->createLink('tintuc') ?>">Tin tức &nbsp;&nbsp;|</a></li>
          <li><a href="<?php echo $this->document->createLink('saleoff') ?>">Sở hữu giá tốt</a></li>
        </ul>
        <div class="clearer">&nbsp;</div>
      </div>
      <div class="clearer">&nbsp;</div>
    </div>
</div>
<!--CONTENT-->
<div id="ben-content">
    <div class="ben-all-title">
        <div class="ben-title">
            MÁY 
        </div>
        <div class="ben-title">
            TÍNH 
        </div>
        <div class="ben-title">
            BẢNG 
        </div>
    </div>
    <div class="ben-km">
        <img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>bg-km2.png" width="159" height="139" />
    </div>
    <div class="ben-btn">
        <a href="<?php echo $this->document->createLink('maytinhbang')?>"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>btn-kp.png" width="198" height="40" /></a>
    </div>
    <div class="ben-qc">
        CHỨC NĂNG GIẢI TRÍ CỰC COOL:
    </div>
</div>
<!--FOOTER-->
<div id="ben-footer">
    <div class="ben-list-footer">
      <div class="ben-left ben-list-title"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>point.png" width="9" height="9" /> Nghe nhạc, xem phim cực đỉnh</div>
      <div class="ben-left ben-list-title"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>point.png" width="9" height="9" /> Lướt web, đọc báo cực nhanh</div>
      <div class="ben-left ben-list-title"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>point.png" width="9" height="9" /> Chơi game 2D - 3D - Mạng xã hội</div>
      <div class="clearer">&nbsp;</div>
    </div>
</div>
    
    
