<!--<div class="ben-two-columns">-->
    
	<!--<div class="ben-left" id="ben-maincontent">-->
    	<div class="ben-section">
        
        	<!--<div class=" ben-section-title">
            	<?php echo $this->document->breadcrumb?>
            </div>-->
            <div class="ben-section-content">
            	<?php echo $module?>
            </div>
            
        
        </div>
 <!--   </div>-->
    
  
    
    <div class="clearer">&nbsp;</div>

<!--</div>-->
