<div id="ben-footer">
    <div class="main-footer">
        <div class="ben-left">
             <p class="ben-adress">
                <b>CTY TNHH TM-DV TIN HỌC BEN</b><br />
                128/15 Tan Son Nhi Street, Tan Son Nhi Ward,Tan Phu District, <br />
                Ho Chi Minh City, Viet Nam <br />
                Phone: +84 (8) 73056188   Fax: +84 (8) 73036189 <br />
                Email:	office@bensolution.com
            </p>
        </div>
        <div class="ben-left thanh-logo-footer">
                <div class="thanh-effect-logo">
                    <!--<img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>logocms_03.png" />-->
                </div>
        </div>
        <div class="ben-right thanh-ben-edwiwn">
            Copyright © 2012 Ben Solution. All rights Reserved
            <a href="http://bensolution.com/"><img src="<?php echo HTTP_SERVER.DIR_IMAGE ?>ben-logo_02.png" alt="Ben Solutions" style="margin-left: 55px;margin-top: -10px;" /></a>
        </div>
	</div>
</div>